[2019-06-20 07:50] theo4u opened #58 "I tried using this with heroku and one way or the other `ws` module is not found"
I checked your pkg.json and `ws` was in there as a dependency, I don't know why it can't resolve itself when hosted with Heroku. But doing `npm i ws` fixed it.

FYI: this worked locally without having to install `npm i ws`.

### log

[code]

I checked the log, it's pointing to `isomorphic` which requires `Node` and `ws` installed https://github.com/heineiuo/isomorphic-ws#readme

Maybe update your

[2019-06-20 16:54] tschellenbach commented on #58
so yeah looks like we need to list `ws` as a dep. @jaapbakker88 what do you think?

[2019-06-23 18:40] aniciom opened #62 "Problem with sendFile method"
Hello i'm having an issue when i try to upload a pdf, the size of the file is 10MB

this is the code:
async function sendFile() {
      try {
            const response = await channel.sendFile(fs.createReadStream('file.pdf'),'file.pdf');
            console.log(response);
      } catch(e) {
          console.log(e)
      }
  }

The process is returning the following
{ FetchError: invalid json res

[2019-06-24 15:23] aniciom commented on #62
It seems the service its returning 400 and Error when parsing request output when the files are kinda big, any kind of solution about this?

[2019-06-26 13:52] aniciom commented on #62
guys none is going to take care of such issue?

[2019-06-26 14:00] tbarbugli commented on #62
we release a fix for this just today, can you test again?

[2019-06-26 14:16] aniciom commented on #62
@tbarbugli Thanks for the answer, i'll upload some screenshots from my postman, i just made them, i tried to upload a 4,1mb pdf and the results are the next

Its giving me a 200 OK Response but its an empty one

<img width="818" alt="Captura de Pantalla 2019-06-26 a la(s) 11 14 42" src="https://user-images.githubusercontent.com/5354596/60187348-ca6d5f00-9803-11e9-9d62-84f8f8a04f08.png">

<img widt

[2019-06-26 14:46] tbarbugli commented on #62
@thesyncim ^^^

[2019-06-26 14:50] aniciom commented on #62
Thanks, i saw 1 thing it appears that the method errorHandler is not declared in the stream-chat-js sdk, so when the response fails it resets the connection but it also throws an error saying that the method _this.errorHandler is not declared.

One last question, i'd like to know if there's any kind of size limit for the files upload and image upload? Because its not clear at all.

Cheers

[2019-06-26 16:17] thesyncim commented on #62
@aniciom it looks like the request is timing out on our side. (IO deadline was reached for the upload controller)
we are going to increase the deadline.(i will ping you when this change is deployed)
currently the max upload size is 20MB.

[2019-06-26 16:21] aniciom commented on #62
Ok thanks

[2019-07-10 15:28] MaratFM opened #75 "Incorrect and incomplete typings"
One of the examples of incorrect typings in index.d.ts

Right now:
[code]

Should be:
[code]

There are many other cases when typings are different from runtime types.

And overall types are very limited and incomplete, frequent usage of `[propName: string]: any;` and `any` makes typings useless. Integrating Stream chat into Typescript codebase is very difficult.

[2019-07-16 11:05] #62 closed

[2019-07-19 14:19] amakhrov opened #86 "Typescript typing is broken in version 1.0.0"
Following errors are generated when trying to compile a Typescript project after importing stream-chat:
[code]

I'm using Typescript 3.2

[2019-07-19 14:55] vishalnarkhede commented on #86
Hey @amakhrov

It is now fixed in v1.0.1. Thanks for raising this :)

[2019-07-19 14:55] #86 closed

[2019-07-19 15:00] vishalnarkhede commented on #75
Hey @MaratFM

Basic issues with our declaration typescript have been fixed (v1.0.1). We are working on adding stronger types on our side. They will be available in next week.

Thanks for bringing this up :)

[2019-07-19 16:01] amakhrov commented on #86
That was fast, thanks! :)

[2019-08-01 16:15] codekiln opened #98 "Any way to listen for when a message is flagged?"
I'd like to be able to give my moderators the ability to "flag" a message and then have the message appear at the top of the chat window as a sticky message.

I've seen the [event types described in `events.js`](https://github.com/GetStream/stream-chat-js/blob/92ec8433329d33ddd9e42689a6d89ccbf2e8330a/src/events.js#L1) - is there any existing event that could be used to receive the flag event? Alte

[2019-08-14 17:06] BrantApps opened #100 "Issue with time taken to execute a "reconnect"?"
Hi there,

I am currently trialing Stream Chat at work and have a working implementation using the `stream-chat-js` directly within our React Native project. I have a query surrounding when/how the SDK decides to perform the `_reconnect` action. Understanding this will help us avoid "dropping" messages when a user backgrounds the mobile app (i.e. the user can't see the app) but the backing web-soc

[2019-08-14 17:45] tschellenbach commented on #100
@jaapbakker88 and @vishalnarkhede see above

[2019-08-15 09:06] vishalnarkhede commented on #100
Hey @BrantApps ,

How do you handle push notifications currently? I mean how do you decide whether to send a push or not?

[2019-08-15 14:15] BrantApps commented on #100
Hi @vishalnarkhede - I don't feel like we are in control of that when it comes to Stream Chat. I have configured stream using the CLI with our Firebase push key and given it a template to send notifications with. It appears Stream side whether a push is attempted vs. a socket message delivery.

[2019-08-16 17:16] aniciom opened #101 "Question about public channels"
I'm having an issue, i'm creating public channels without adding members in it, then i log using other user's token and i can't see them, is it a normal behaviour? I remember i used to see them no matter what user i was using, since those channels all public, i don't think its needed to add members into it.

Thanks

[2019-08-16 23:44] aniciom commented on #101
My mistake, permissions issue.

[2019-08-16 23:44] #101 closed

[2019-08-19 18:11] aniciom opened #103 "Filter last message by user"
Is there any way from the sdk to filter (using queryChannels's method or query's method) the last message  using a specific user id that created that message?

I mean i want to get the last message according to the user that's making the reques,t but the sdk is retrieving the last message no matter what user is making the request, that makes sense, but i would like to filter by a specific user id

[2019-08-20 08:46] vishalnarkhede commented on #103
@aniciom  Currently there is no method for this (to get last message for particulate user id) ... @thesyncim correct me if I am wrong here.

But all messages are available in channel state (`channel.state.messages`), so you can always filter out the current user's last message by iterating over messages and checking the comparing against user of that message (message.user.id).

[2019-08-20 13:13] aniciom commented on #103
thanks

[2019-08-20 16:44] #103 closed

[2019-08-20 18:20] BrantApps commented on #100
Hi again. I have recorded a short video to describe the steps listed above.

https://photos.app.goo.gl/NzgHp4rFu4CaCZvY8

Apologies for the quality. In the video, just before I focus on the `connection:_reconnect()` terminal output you'll notice I've sent a message "Hiii" (with 3 i's) and a push isn't received. I then (off camera admittedly! 🤦‍♂ ) write the same message having noted the `connectio

[2019-08-30 18:39] aniciom opened #105 "countUnread strange behaviour"
Hello, i'm having an issue the situation is the next, i have a frontend chat using react and a backend server to handle the list of channels and their unread messages per client, the problem what i'm facing its the next:

1 - I go to my chat i click on the channel's box then i send using the client something like:
[code]

2 - I get a list from my backend of my channels using this code on nodejs (i

[2019-09-02 08:36] tbarbugli commented on #105
Read state is only stored for channel members; non-members can still use mark_read to keep the read state (ie. a livestream chat).

Is the user added as a member in your case?

[2019-09-02 10:26] EJohnF opened #131 "How to get the list of channels user invited to"
Hi,

I need to display the list of channels user participate in (easy -> using channels query, with filter)

But how to get the list channels user invited to? There is not built-in query here https://getstream.io/chat/docs/#query_channels for it. It says I can filter by any custom fields but it's unclear how to do.

[2019-09-02 11:23] vishalnarkhede commented on #100
Hey @BrantApps

Sorry for the delays (was stuck with some other tasks regarding react and react-native sdks). I understand the issue now. I will let you know once we have some resolution on our end. Thanks for the details :)

[2019-09-02 12:27] aniciom commented on #105
Ah no its not

[2019-09-02 12:48] aniciom commented on #105
It seems to be working as expected now, Thanks.

[2019-09-02 12:48] #105 closed

[2019-09-09 21:51] ferhatelmas opened #110 "Proposal: integrate sonar plugin to improve code quality"
https://github.com/SonarSource/eslint-plugin-sonarjs

Since all machinery is here, it's very easy to integrate. Recommended setting are pretty good and very helpful.

However, main problem is fixing issues to have clean CI.

[2019-09-09 21:52] ferhatelmas commented on #110
If agreed, happy to take this and get it done.

[2019-09-10 09:00] tschellenbach commented on #110
Never used Sonar, sure, lets give it a try and see if it's nice.

[2019-09-10 12:06] BrantApps opened #112 "Unmute action doesn't send "notification.mutes_updated" event"
We have been trying out some of the chat moderation controls whilst assessing the suitability of Stream Chat for our application and encountered an issue with the mute/unmute action.

To replicate
1. Mute a user in a chat
2. Receive `notification.mutes_updated` event
3. Unmute the same user in a chat

Expected result
* We receive a `notification.mutes_updated` event

Actual result
* No event is re

[2019-09-10 12:12] tbarbugli commented on #112
thank you for reporting this; we're going to look into this and update this issue asap

[2019-09-10 14:52] BrantApps opened #113 "Server-side ban action not working"
Following on from #112 we've been testing how the "ban"/"unban" functionality is meant to operate. Unfortunately, we've encountered more issues with the server-side node approach or the (stream-cli)[https://github.com/GetStream/stream-cli/blob/master/docs/chat.md#stream-chatuserban] `stream:chat:ban` approach yielding errors. Here is a short gif of the actions I'm taking resulting in the below not

[2019-09-10 14:56] nparsons08 commented on #113
@BrantApps This is likely an issue with the Stream CLI. I'll personally look into this and follow up. Stay tuned.

[2019-09-10 15:01] BrantApps commented on #113
Thank you for the fast follow up @nparsons08 - sorry for all the issues. The moderation controls is a dealbreaker for us so wanted to report them rather than wait for a fix.

[2019-09-10 15:53] tanuck commented on #113
@nparsons08 we've replicated the same problem with the cli and `stream-chat` library.

[2019-09-10 15:57] nparsons08 commented on #113
@tanuck @BrantApps I'm assuming you ran `$stream config:set` first, right?

[2019-09-10 16:02] tanuck commented on #113
Yes

[2019-09-10 16:29] nparsons08 commented on #113
Just pushed a fix for the CLI – `getstream-cli@0.0.13`.

As for using the `stream-chat-js` SDK, you need to provide a `user_id` in the payload of the user who is banning the other user. For example, if user `A` is being banned, you would add user `B` to the payload as follows:

[code]

And call it like so:

[code]

Can you please upgrade and verify that the CLI is passing back the correct informat

[2019-09-10 16:37] BrantApps commented on #113
Thanks @nparsons08 - I'm confused. Now I receive this from the CLI;
[code]
🤔

[2019-09-10 16:39] nparsons08 commented on #113
Can you shoot me an email at nick@getstream.io with your emails? I'd like to get you added to our public chat on Slack.

[2019-09-10 16:39] #113 closed

[2019-09-10 22:24] ferhatelmas opened #115 "Fix tests so that travis is clean for new changes"
For example, #108 is a simple change but travis test fails and then gives wrong impression and makes new contribution harder.

[2019-09-10 22:25] ferhatelmas opened #116 "Proposal: run lint as a part of travis"
To ensure it's always followed.

[2019-09-11 09:01] tschellenbach commented on #113
following up here, has this been resolved?

[2019-09-11 10:27] BrantApps commented on #113
with 0.0.14 of the stream cli we were able to ban a user. We didn't try again via the stream client with @nparsons08 describing the payload we'll need to send to use the API in conjunction with server-side auth.

[2019-09-11 12:06] nparsons08 commented on #113
This has been resolved.  The CLI or server side calls require that you pass a user_id of then person who is creating the ban. A new version of the CLI is now available with a fix in place.

[2019-09-11 13:12] tanuck commented on #113
The docs need to be updated to reflect that user/user_id is required in the payload.

https://getstream.io/chat/docs/#moderation

[2019-09-11 20:44] tbarbugli commented on #116
good point; running `yarn run lint` should be enough since we already have this set up (probably good to return a nice error in Travis if $? != 0)

[2019-09-11 21:36] ferhatelmas commented on #116
Sounds good. After #114 is merged,I will add it so that it could be run without any issues.

[2019-09-13 12:28] tbarbugli commented on #100
@vishalnarkhede can't we solve this by closing the WS when the app goes to background?

[2019-09-13 12:28] tbarbugli commented on #112
we are doing QA on the change today, we should get this live today or during the weekend

[2019-09-16 15:55] aniciom commented on #100
in that case (killing the ws in bg), the only way to get the incomming messages are via push notifications ?

[2019-09-16 17:18] BrantApps commented on #112
Great. I am planning on coming back to this on Wednesday this week so I'll ping you back then! Thank you for your work to date.

[2019-09-16 17:25] BrantApps commented on #100
That sounds good to me from the perspective of a mobile app consumer! If the app has been backgrounded then I'd like to be notified of changes via push message.

[2019-09-16 18:07] aniciom commented on #100
yep

[2019-09-17 11:15] Bogdan-D commented on #112
@BrantApps unmute event was fixed, please reopen the issue if you will have any problems.
Thank you for reporting

[2019-09-17 11:15] #112 closed

[2019-09-18 07:34] tbarbugli commented on #115
Yes let's do this!

[2019-09-18 07:35] tbarbugli commented on #115
I also suggest that we split our tests in unit tests and integration tests (and add a lot of unit tests)

[2019-09-18 07:36] ferhatelmas commented on #115
SGTM

[2019-09-18 17:36] BrantApps commented on #112
Thank you. I can see the unmute action causes the event to fire 👍

[2019-09-19 02:03] earthlingstd opened #122 "updateUser does not update client.user"
I update user profile picture using the following snippet, but the updated info does not reflect in client.user
[code]

[2019-09-19 09:51] vishalnarkhede commented on #100
@BrantApps @aniciom For now you will need to disconnect the ws connection manually once app goes in background. You can detect the background state of the app using [AppState](https://facebook.github.io/react-native/docs/appstate).

To disconnect the ws connection:

[code]

And to reconnect once the app comes to foreground:

[code]

Soon this functionality will be added to our React Native sdk its

[2019-09-20 08:54] EJohnF opened #124 "Upload image for user"
Refer to this StackOverflow questions (and comments below it) https://stackoverflow.com/questions/57868440/how-to-upload-custom-image-when-create-new-channel?noredirect=1#comment102432706_57868440

The problem is that right now I cannot upload image without channel context. And because of it, I cannot upload image for user's avatar

[2019-09-24 13:17] BrantApps commented on #100
Ok, just retested. We're using 1.0.4 of the client but the problem persists. Here are some more annotated logs;

[code]

[2019-09-24 23:18] aniciom commented on #100
I will try handling push notifications from my backend directly, since i have both of my certificates mapped at firebase, so i'll have more control over them.

[2019-09-24 23:24] BrantApps commented on #100
@aniciom, not upgraded yet. We are moments away from launching a closed beta with the product so didn't want to risk doing it until this release is out. I did scan a diff between the 2 versions to see if there was a formal API for the disconnect in later builds. Couldn't see one. Will upgrade and retest after Friday (our release cut day)

[2019-09-24 23:26] BrantApps commented on #100
Interested to know more about how you can decide to send push messages or not. Didn't seem to me that we as SDK consumers can control that at all?

[2019-09-24 23:33] aniciom commented on #100
I think the default behaviour from getstream is to make the push when there's a new message, at least thats what i understand from the docs (its not very clear) in that scenario you don't have any kind of control, but you can hook the sending's process through your backend and decide when to send the notifications and the ppl whose are gonna recieve them, of course you will have to do a little bit

[2019-09-27 11:54] vishalnarkhede commented on #100
We send the push notification only when there is no active web socket connection.

[2019-09-30 09:30] vishalnarkhede commented on #75
Hey @MaratFM

Stronger types have been added now, please use v1.1.1

Feedback is always appreciated :)

[2019-10-01 15:47] sharifMedici opened #133 "user information does not update even if client.updateUser() executed successfully in client side"
Hi i am facing a problem in getstram api (chat). when I update user information, i see **client.updateUser()**  executed successfully. but we do not get update user information in client.user. It remain previous old information. right now i am trying to update image url. It remains the old info until we reload the whole application (_cmd+R in ios, RR android simulator)_. but channel update work wh

[2019-10-02 09:36] EJohnF commented on #131
What's the timeline for a proper invite system? It's been a month already

[2019-10-02 11:02] tbarbugli commented on #131
querying invites was added yesteday; @thesyncim can you point to an example?

[2019-10-02 11:32] thesyncim commented on #131
hi @EJohnF,
you can now query channels by pending|accepted|rejected invites.
eg
[code]

[2019-10-02 13:39] EJohnF commented on #131
Great to hear! Thanks!

[2019-10-04 12:05] EJohnF commented on #131
Still, invite system is not working
That's how I create a new 1-1 channel:

[code]

on the partner account
1) event `notification.invite` is not fires
2) All these arrays are empty
[code]

[2019-10-04 12:10] vishalnarkhede commented on #122
Duplicate of https://github.com/GetStream/stream-chat-js/issues/133 . Its in progress :)

[2019-10-04 12:13] thesyncim commented on #131
@EJohnF are you setting the current user to `partner.id` in the client?

[2019-10-04 12:24] EJohnF commented on #131
@thesyncim `partner.id` (for example `ab285a71-84d9-44ca-9040-4f85f73fbdd2`) - is the id of the other, I want to invite to created channel.
Current user is `chatClient.user.id` (for example `c5e0feda-2c30-4d16-9dac-67dcef78b65d `)

[2019-10-04 12:25] thesyncim commented on #131
you need to add the invited user also as a member.
[code]

[2019-10-04 12:35] EJohnF commented on #131
yes, now I receive notification and get the channel in pending array

[2019-10-04 12:36] thesyncim commented on #131
closing this issue. feel free to reopen if you have any questions

[2019-10-04 12:36] #131 closed

[2019-10-04 12:39] EJohnF commented on #131
yes, thanks for the help!
Btw, it worth to update docs I think - otherwise, someone else might be stuck with the same problem. From the docs perspective, we don't need to send invited persons inside members list. https://getstream.io/chat/docs/#channel_invites

[2019-10-07 09:50] mattdamon108 opened #652 "When stream api send a notification?"
Hi Team,

I implemented APNs and FCM for push notification for my react native app. It works fine and gets notifications in the foreground/background/when the app is closed. I tested it with APNs notification send utility and stream CLI push:test.

But, in the case of iOS, It seems the push notification is sent when the app is closed. When I test with stream CLI, it gets a push notification when t

[2019-10-08 10:27] EJohnF commented on #131
@thesyncim can you pls assist me - how to invite users later?
In docs I see that I can add members `channel.addMembers` - but what to do when I need to trigger invites workflow (accept/reject etc)

[2019-10-09 15:13] sang2087 opened #145 "The userId argument is missing from the removeDevice method in types/stream-chat/index.d.ts."
Hi. I'm developing using Typescript.

I use addDevice and removeDevice methods for push notification, but I can't put userId in removeDevice method.
The userId argument is missing from the removeDevice method in types/stream-chat/index.d.ts.

The current code is shown below.
`removeDevice(deviceId: string): Promise<APIResponse>;`
(types/stream-chat/index.d.ts, line 214)

I think it should change a

[2019-10-10 09:14] EJohnF opened #146 "Incorrect unread number in user object"
I'm trying to display unread channels number on TabBar, but it turns out to be tricky

First, I try to get the number from `client.user` object. Which is
[code]

Which is not correct from my perspective. Bcs the following code:
[code]
gives 12 unread channels

[2019-10-10 09:24] #75 closed

[2019-10-10 13:42] vishalnarkhede commented on #133
Hey @sharifMedici This has been fixed in v1.1.5

So once you make a call to `updateUser` function, client will reflect the changes as soon as ` `user.updated` event is received.

[2019-10-10 13:44] aniciom opened #149 "Event for mentions - Feature Request"
Would it be possible in a future add an event when an user is mentioned in a channel ?

Thanks

[2019-10-10 13:44] tschellenbach commented on #133
Android will handle this elegantly in the next release as well. (There is
an open pull request for this)

On Thu, Oct 10, 2019, 07:42 Vishal Narkhede <notifications@github.com>
wrote:

[2019-10-10 14:12] sharifMedici commented on #133
[image: Screenshot 2019-10-10 at 16.09.51.png]

hi Thank you for your update but see heree screenshot, there is field
description:  see the value before update now string and after again
description still old,

Could you please check it ?

best regards
Sharif Hossain

On Thu, 10 Oct 2019 at 15:44, Thierry Schellenbach <notifications@github.com>
wrote:

[2019-10-10 15:41] vishalnarkhede commented on #133
Hey @sharifMedici ,

So client will have the updated value once it receives `user.updated` event.

[code]

Can you check if that works for you?

[2019-10-11 08:25] tbarbugli commented on #149
That would be redundant because we already send a "message.new" event to all watchers and members for the channel. The event include mention information as well so that should be easy to handle ;)

[2019-10-11 08:25] #149 closed

[2019-10-11 10:33] aniciom commented on #149
Didn't notice that, good to know. Thanks

[2019-10-11 12:29] aniciom opened #150 "Issues when Caching Client Object (Server Side) - Converting circular structure to JSON"
Hello people, i'm having an issue maybe its fixeable maybe not, the situation is the next, to avoid unnesesary calls to the getstream's api every time i need to instantiate a client from the sdk (server-side) i'm caching the object that results from new StreamChat and then setUser from the client (the fully connected client), the problem what i'm dealing with is the circular references inside the

[2019-10-11 16:54] tschellenbach commented on #150
Why would you need to cache the client object?

[2019-10-11 17:11] aniciom commented on #150
I'm handling some operations from backend side, and i want to avoid the gap latency that brings me doing a new connection everytime I need to connect a client from my backend. Lets say i need to create a channel or add or remove a moderator or change permissions from my backend to a certain client instance, it adds me around 1s to the response plus the other actions i do in the db, so to avoid thi

[2019-10-11 18:46] tbarbugli opened #151 "Add support for Keep-Alive (Node)"
Keep-Alive and connection pooling are both very useful (TLS handshake is expensive)

We should create an instance of axios and make sure it has decent keep-alive settings. Users of the library should be able to pass an http and https agent so that they can tweak things as they please (ie. connection pool settings, keep-alive TTL)

Note: last time I checked, Node.js would default to unlimited conne

[2019-10-11 18:49] tbarbugli commented on #150
The initialization of the JS client takes microseconds; what is probably expensive is the first HTTP request since it creates the TCP connection + does TLS handshaking. For obvious reasons, you can't serialize a TCP connection to JSON :)

I am surprised it that creating the client every time adds 1s in your case. Where are your servers located?

I created a ticket #151 to get keep-alive for the sa

[2019-10-11 22:03] aniciom commented on #150
Thanks for the concern guys, Oh i see @tbarbugli why i can't stringify it. Look i've been doing some refactoring to the code i think it was my bad, i was doing some subtles but heavy operations hashing the passwords and doing an extra query to the db, i'm using nginx as reverse proxy and i didn't implement ssl yet, without the creation of the client the api's response maintains an average time amo

[2019-10-13 14:41] tbarbugli commented on #150
the closest you are to AWS us-east the better performance you will get. I am going to close this issue for now.

[2019-10-13 14:41] #150 closed

[2019-10-14 06:31] sang2087 commented on #145
Hi, @vishalnarkhede ! thanks that you checked this issue.

I want to know when this issue will be merged.

[2019-10-14 09:53] EJohnF opened #152 "How to invite users to previously created channel"
In docs I see that I can add members `channel.addMembers` - but what to do when I need to trigger invites workflow (accept/reject etc)

[2019-10-14 11:28] vishalnarkhede commented on #152
Hey @EJohnF ,

Does this help - https://getstream.io/chat/docs/#channel_invites

[2019-10-14 11:32] vishalnarkhede commented on #145
Hey @sang2087 ,

We will publish latest within next couple of days for sure. I will keep you posted :)

[2019-10-14 11:58] vishalnarkhede commented on #100
@aniciom @BrantApps are there any more questions unanswered on this thread? If not, I would like to close it :)

[2019-10-14 12:26] vishalnarkhede commented on #146
@thesyncim

[2019-10-14 14:12] aniciom commented on #100
Not by my side

[2019-10-15 08:23] EJohnF commented on #152
no, bcs this is invitation during channel creation.
My question is when Channel was created sometime before, and I want to invite new users.

[2019-10-15 10:29] sang2087 opened #156 "Do you have any plans to support locale?"
My service provides Korean, Taiwanese, Japanese, Chinese, etc. However, we cannot provide locale support only in stream-chat. I hope locale support is available as soon as possible.

Do you have any plans to support locale?

[2019-10-15 10:55] vishalnarkhede commented on #145
Hey @sang2087 ,

Our ts declaration file has been fixed in v1.1.6. Please check and let us know if its resolved :)

[2019-10-15 10:58] vishalnarkhede commented on #152
@EJohnF We have an endpoint for adding members after channel creation - https://getstream.io/chat/docs/#channel_members

Is this what you are looking for?

[2019-10-15 11:21] sang2087 commented on #145
thanks a lot. this issue is resolved!!!

[2019-10-15 11:21] #145 closed

[2019-10-15 11:25] EJohnF commented on #152
As I wrote in the first message, I'm looking for `invite` member, not add him. It refers to this issue/resolution https://github.com/GetStream/stream-chat-js/issues/131

[2019-10-15 11:33] vishalnarkhede commented on #152
Ohh ok. Pardon me for the confusion !!

@thesyncim ??

[2019-10-15 11:52] thesyncim commented on #152
@EJohnF we have this task in our backlog, should be implemented soon(probably this week),
i will ping you when is live

[2019-10-15 12:14] Bogdan-D commented on #151
@tbarbugli isn't it it already there? https://github.com/GetStream/stream-chat-js/blob/7aa2cf7677b5b895eb2528209a88681d7c920a2e/src/client.js#L75

[2019-10-15 15:04] EJohnF opened #157 "Messages with type 'channel.event' is not created when user accept invite"
I found in React-Native component undocumented (in official docs) pretty cool feature - that we have special type of messages for `member.add` and `member.removed` events

[code]

I wonder, is it possible to created the same messages for accept/reject events?

[2019-10-15 15:07] EJohnF commented on #157
I know that I can emulate the same behaviour by using system messages and customise them for different purposes, but it'll be really cool if it can come out of the box

[2019-10-15 15:16] EJohnF commented on #157
omg, sorry!
Turns out this messages comes not from backend, but gets generated on the frontend, and displayed only during one session, so I'll need to do it through system messages...

[2019-10-15 15:16] #157 closed

[2019-10-16 07:23] sharifMedici commented on #133
we have talked already in slacked .Thank you.

[2019-10-16 07:23] #133 closed

[2019-10-16 07:37] Bogdan-D commented on #146
Hi @EJohnF, thank you for report. We'll investigate the issue and will put an update

[2019-10-17 08:24] vishalnarkhede commented on #122
Hey @earthlingstd ,

This issue has been fixed. Once the user receives `user.updated` event, you will see the updated information in client.user object.

[2019-10-17 08:37] vishalnarkhede commented on #100
Closing this ticket now!!

[2019-10-22 13:47] BrantApps commented on #100
I was on holiday last week and just catching up with my tasks. So, the issue isn't resolved as I've detailed. @vishalnarkhede's last remark highlights the issue;

So there is an active web socket connection when a mobile app is backgrounded (not killed, just backgrounded like when the user taps the home button or multi-tasks away). The user experience past this point renders the chat useless since

[2019-10-22 13:48] BrantApps commented on #100
I think rather than creating a new ticket I will create a minimal app for replication that we can publish and reason about. It may help highlight the resolution route.

[2019-10-22 15:25] tschellenbach commented on #100
Thanks, that will help us resolve this.

[2019-10-24 07:15] EJohnF commented on #152
Hi @thesyncim any news about implementation?

[2019-10-25 13:45] thesyncim commented on #152
hi @EJohnF this is now implemented in our backend.
take a look at the client tests https://github.com/GetStream/stream-chat-js/blob/2d25b55e0d19c7fca35db0f823f2ba48856c3c02/test/invites.js#L386.
Closing this issue. (feel free to reopen if you have issues)

[2019-10-25 13:45] #152 closed

[2019-10-26 12:58] SloCompTech commented on #151
@tbarbugli Here I found possible [solution](https://gist.github.com/ccnokes/94576dc38225936a3ca892b989c9d0c6) using [agentkeepalive](https://www.npmjs.com/package/agentkeepalive) package

[2019-10-28 14:30] vishalnarkhede commented on #100
@BrantApps Can you confirm if you consistently see this behaviour on every attempt? By behaviour, I mean if wsConnections gets reconnected automatically even after you forcefully disconnection the connection.

[2019-10-31 15:45] EJohnF opened #176 "Search for users"
I need to implement search functionality for users
I read the section for quiry users, especially filtering.
But I don't see the way how I can implement "like" operator

Found a question in StackOverflow - https://stackoverflow.com/questions/43729199/how-i-can-use-like-operator-on-mongoose

How to call something like that in client-side?

[2019-10-31 21:02] cenzovit commented on #100
Also, building a react-native app with stream chat and am running into the same issues as described by @BrantApps with wsConnection and push notification switchover during AppState transitions.

[2019-11-03 19:11] barczaG opened #183 "Can‘t find variable:Buffer"
I'm using expo. For some reason the `Buffer` polyfill wasn't included in the build.  I was able to fix it by installing `buffer` and adding the following line to `node_modules/stream-chat/dist/browser.js`
`global.Buffer = global.Buffer || require('buffer').Buffer`

[2019-11-03 21:43] leibowitz opened #179 "Can't resolve isomorphic-ws"
Apologies if this is not the right place, but I'm trying to understand why I'm getting this error when running tests (via karma/puppeteer/chromium)

[code]

The code simply import `stream-chat`.
[code]

This works fine when running in the browser on local dev, i.e. webpack-dev-server.

Adding `isomorphic-ws` explicitly to my `package.json` seems to fix the issue. But I fail to understand why I nee

[2019-11-04 09:22] Bogdan-D commented on #176
Hi @EJohnF,

We are not using mongodb, so the amount of operators are limited.
This is also because of performance reason, `LIKE` operator isn't fast, especially on large amount of users.
Can you provide usage example why it's required?

[2019-11-04 09:51] EJohnF commented on #176
Hi @Bogdan-D

Yes, I need to implement search functionality for users (I want to allow to user to chat with anyone else)
And I want to update user's list along with user typing (nice UX experience), plus user may not know the exact name

[2019-11-04 15:12] Bogdan-D commented on #176
@EJohnF
for this kind of functionality we have `$autocomplete` operator.

So you can try to use `{name: {$autocomplete: "name"}}`.
Also currently it's allowed to use autocomplete only for one field. (so you should chose will it be `name` or `username`).

[2019-11-04 15:53] #176 closed

[2019-11-04 19:17] ferhatelmas opened #181 "License warning"
Is it something we should consider to silence?

Following patch gets rid of the warning:

[code]

[2019-11-05 10:20] vishalnarkhede commented on #122
Closing this issue now!! Please reopen if its not working for you!

[2019-11-05 10:20] #122 closed

[2019-11-05 10:22] vishalnarkhede commented on #100
@cenzovit Did you try the following solution?

[2019-11-05 13:23] vishalnarkhede commented on #183
Hey @barczaG , this will be fixed soon. Moving this issue to `stream-chat-js`, its coming from js client.

[2019-11-07 09:25] #115 closed

[2019-11-19 22:38] nparsons08 opened #187 "Test"
Test

[2019-11-21 22:07] capacitivellc commented on #183
My temporary workaround.

```yarn add buffer```

add

```global.Buffer = global.Buffer || require('buffer').Buffer```

to the top of the root app index.js

[2019-11-22 10:15] EJohnF commented on #146
Any progress on that? It also results that after receiving push notification, badge number is incorrect

[2019-11-25 08:58] EJohnF opened #191 "Does stream support iOS 13 push notifications?"
Push notifications were working on friday. Today morning we updated testing phone to iOS 13+ and push notifications stops working:
seems to be related to https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/sending_notification_requests_to_apns?language=objc

In the dashboard I see that push notification claims to be delivered, but I don't see them on

[2019-11-25 09:32] tbarbugli commented on #191
perhaps better if you move this to the React Native or the Swift SDK Github (this one is the core JS client repo)

[2019-11-28 15:37] #191 closed

[2019-12-30 20:29] shodgetts opened #209 "This is a test Issue from Stephen"
Testing the new features to send to Zendesk

:-)

[2019-12-30 20:31] tbarbugli commented on #209
hi stephen 👋how can I help you?

[2019-12-30 20:33] shodgetts commented on #209
Thanks! I'm about to close the issue now.

[2019-12-30 20:33] #209 closed

[2019-12-30 21:44] type opened #210 "Missing types for partialUpdateUser/partialUpdateUsers"
There are no ts typings for the partialUpdateUser and partialUpdateUsers methods

[2019-12-30 22:35] type commented on #210
Additionally, there is an invalid typing https://github.com/GetStream/stream-chat-js/blob/master/types/stream-chat/index.d.ts#L345 (`bool` should be `boolean`)

[2019-12-31 16:58] shodgetts commented on #210
Hi! Thanks for bringing this to our attention. We'll get someone to address these issues shortly.

[2020-01-02 14:07] tbarbugli commented on #210
@vishalnarkhede looks like an easy one to fix, can you have a look?

[2020-01-06 11:59] pmbanugo opened #216 "Invalid type "bool" set as the return type for function"
https://github.com/GetStream/stream-chat-js/blob/e1f994fb4295ece73fa033357b270df3646c7853/types/stream-chat/index.d.ts#L345

The line above is causing my code not to compile. It expects boolean as type and not bool. I see there's a mix of using boolean and bool type in this file.

Also making reference the links below.

1. https://github.com/pmbanugo/angular-conversational-ui-tutorial/blob/1fac384

[2020-01-06 13:10] ferhatelmas commented on #216
Related to https://github.com/GetStream/stream-chat-js/issues/210#issuecomment-569816169

[2020-01-07 11:18] danish-gahlout opened #217 "Update Avatar for User in Chat"
Hi Team,
Trying to update the Chat Avatar (As per below given snapshot) for the User once he will select to upload a new image from the Upload button we have in our application.
To achieve this I have tried some in built functions (client.setUser & client.partialUpdateUser) given in the GetStream documentation to update the image for that particular user but it didn’t updated.
Please suggest what

[2020-01-07 14:13] jaapbakker88 commented on #217
@danish-gahlout can you share how you used the client.setUser and client.partialUpdateUser?

Can you double check if you do it the way we do it in our tests?
https://github.com/GetStream/stream-chat-js/blob/aef897a0fb175f0ad35e465ccf7a59d4085fc373/test/test.js#L768

[2020-01-08 08:07] danish-gahlout commented on #217
Hi @jaapbakker88 ,
I have tried in below given way -

`await chatClient.disconnect()
    await chatClient.setUser(
        {
            id: Id,
            name: userName,
            image: avatar,
        },
        token,
    )`

`const update = {
        id: Id,
        set: {
            field: {
                name: preferredName,
                image: avatar,
            },
        },

[2020-01-08 10:01] danish-gahlout commented on #217
Hi @jaapbakker88 ,
Please have a look on below snapshot, we need to change these two fields -

![image](https://user-images.githubusercontent.com/19967779/71968941-c814a480-322b-11ea-8a44-3c7a3a274604.png)

[2020-01-08 17:16] AgusRdz opened #218 "Documentation for queryUsers doesn't match"
Currently the documentation related to `queryUsers` indicates that `presence` by default is `false` but reviewing the source code I found that the real value is `true`.

For reference:
https://github.com/GetStream/stream-chat-js/blob/master/src/client.js#L809
https://github.com/GetStream/stream-chat-js/blob/master/src/client.js#L822

https://getstream.io/chat/docs/js/#query_users

![image](https:/

[2020-01-09 10:05] jaapbakker88 commented on #217
@danish-gahlout you got me confused for a second and I admit the docs are not very clear on this. Because the fields key, is a custom field itself you're setting. So to get the result you want you want to run it like this:
[code]

[2020-01-09 10:31] danish-gahlout commented on #217
Hi @jaapbakker88 ,
Thanks for updating, I also tried with updateUser yesterday it was updating the name, now i tried with partialUpdateUser which you gave in last comment, it's also updating the same.

But the problem with both the functions is - that avatar is not updating after uploading the image, but once we do a chat message or page refresh then it got updated.

[2020-01-09 10:45] danish-gahlout commented on #217
@jaapbakker88 Can we have a 5 minutes of call on Slack/Lync or anywhere which is possible for you. So i can show you the current behavior.

[2020-01-09 10:46] jaapbakker88 commented on #217
Sure, send me a link

[2020-01-09 10:58] danish-gahlout commented on #217
Can you please join on below link -

https://zoom.us/j/3837226107

[2020-01-09 11:50] jaapbakker88 commented on #217
Sorry, I'm booked with meetings the rest of this day. But I think I know what the problem is. Right now we don't support the behaviour you're looking at, so we're not saving the user in the local state but we get it on every new message as the attached user. I will add it to the backlog though.

[2020-01-09 11:52] danish-gahlout commented on #217
Okay..
Thanks @jaapbakker88 for the support.

[2020-01-10 09:40] jaapbakker88 commented on #217
I'm going to close this issue and will add the auto updating of user details to the backlog.

[2020-01-10 09:40] #217 closed

[2020-01-10 12:45] tbarbugli commented on #218
@tschellenbach what do you think makes more sense to fix? default client behaviour or docs?

[2020-01-11 21:23] tschellenbach commented on #218
what's the default for queryChannels? I think they should probably both default to false since most people won't use the user presence events.

[2020-01-13 08:13] tbarbugli commented on #216
this is fixed on master branch; we are going to release a new version today which includes other improvements to typescript

[2020-01-13 08:13] #216 closed

[2020-01-13 08:38] pmbanugo commented on #216
awesome!

[2020-01-13 20:55] shodgetts commented on #210
Bool/boolean issue is fixed by was the TS typings fixed?

[2020-01-14 11:55] ferhatelmas opened #226 "Update event type for the latest changes in the API"
`Event` type doesn't include the latest changes.

[2020-01-14 12:02] ferhatelmas opened #227 "Reduce response type of setUser"
Right now, it's a wrapper over `Event` which is quite unnecessary.

https://github.com/GetStream/stream-chat-js/pull/211#pullrequestreview-341679383

[2020-01-14 12:02] ferhatelmas commented on #116
This is being done by now.

[2020-01-14 12:02] #116 closed

[2020-01-14 12:06] ferhatelmas commented on #210
@shodgetts yes, with #213. Unfortunately, @vishalnarkhede didn't split fixes.

@type it's fixed and released as `v1.2.3`, let us know if all is good.

[2020-01-14 12:06] #210 closed

[2020-01-14 15:39] ferhatelmas commented on #58
`ws` is deps, closing. @theo4u if this is still an issue, let us know.

[2020-01-14 15:39] #58 closed

[2020-01-14 16:01] ferhatelmas commented on #98
You can add any custom data to [your messages](https://getstream.io/chat/docs/js/#send_message) and then since message is updated, you will get `message.updated` [event](https://getstream.io/chat/docs/js/#event_object) with the complete message to implement any logic you need.

[2020-01-14 16:01] #98 closed

[2020-01-14 16:25] ferhatelmas commented on #218
It's false for `queryChannels` so updated via #233.

[2020-01-16 16:25] #181 closed

[2020-01-16 17:05] tschellenbach opened #235 "client.disconnect doesn't always return a promise"
![image](https://user-images.githubusercontent.com/265409/72546229-a2008d00-3847-11ea-9d3d-62d53f5d4312.png)

client.disconnect doesn't return a promise if wsConnection is not defined...

[2020-01-16 17:11] tschellenbach commented on #235
2 more issues...

![image](https://user-images.githubusercontent.com/265409/72546776-9e213a80-3848-11ea-9882-50061c45f3b2.png)

[2020-01-16 17:15] tschellenbach commented on #235
wsConnection.disconnect also doesn't seem entirely correct. I think the onClose event isn't fired if the socket is already closed... That might explain why Kane gets the above error

![image](https://user-images.githubusercontent.com/265409/72547046-17b92880-3849-11ea-9071-a759dd6be1af.png)

[2020-01-20 18:39] kanekv opened #237 "typescript typing for .sendFile and .sendImage only accepts string"
Right now typescript definitions for `.sendFile` and `.sendImage` only accept strings.

[2020-01-22 09:02] tbarbugli commented on #237
@jaapbakker88 is working on this https://github.com/GetStream/stream-chat-js/pull/238

[2020-01-24 10:19] kanekv opened #239 "File Upload API doesn't work in node.js"
There are multiple problems in this piece of code: https://github.com/GetStream/stream-chat-js/blob/master/src/client.js#L564-L579.

1. Buffer check doesn't work properly for buffers created other than fs.createReadStream
2. It's using `File` which doesn't exist in node.js
3. To accept buffers `data.append('file', fileField);` should accept mimetype as 3rd argument.

[2020-01-24 10:20] kanekv commented on #239
@ferhatelmas , @jaapbakker88 suggested that you would be the best person to check these issues.

[2020-01-24 10:23] kanekv commented on #235
Also, awaiting on `client.disconnect` is timing out.

[2020-01-24 10:25] kanekv opened #240 "Wrong typescript definition for channel initialization"
https://github.com/GetStream/stream-chat-js/blob/master/types/stream-chat/index.d.ts#L225
`.channel` call doesn't have ID as optional argument.

[2020-01-24 12:28] tbarbugli commented on #240
thank you for pointing this out

[2020-01-24 12:41] ferhatelmas commented on #239
@kanekv thanks for the great details, we will check with @jaapbakker88 soon.

[2020-01-27 22:19] jaapbakker88 commented on #237
@kanekv I have updated the types to also accept a Buffer as the only argument.

[2020-01-27 22:19] #237 closed

[2020-01-29 01:40] yyan1998 opened #248 "Direct Message: how to display the message receiver's name as channel name"
I am currently creating the direct messaging feature using GetStream's One to One conversation. Right now I can only set a single name for the direct message channel. For example, A sent a message to B and the created channel between A and B is initially named to B. If, when A and B both enter the channel, I want A to see the channel name as B and B sees the channel name as A, how can I implement

[2020-01-29 10:54] vishalnarkhede commented on #248
@yyan1998 you have members list available in `Channel`. On UI side, you can use this array and current user of app (chatClient.user) to decide what name to display for channel.

[2020-01-29 22:05] pawelborowik10c opened #249 "Wrong TS type for query argument in search method"
https://github.com/GetStream/stream-chat-js/blob/a30452af1fa39ed684849931e08b4a92b8e66387/types/stream-chat/index.d.ts#L217

It should be `string`

[2020-01-30 00:30] fbartho opened #250 "Trivial TS issue with StreamChat Constructor"
https://github.com/GetStream/stream-chat-js/blob/64e9fbb48bc3188b0db91cd0aa0852fd0521129a/types/stream-chat/index.d.ts#L156

I believe that line should instead read:
[code]

I haven't tested it in that format (method overloads), but I'd be equally happy with:
[code]
This is simpler, and engineers should be able to figure out that they're not supposed to pass the options twice, but I guess it's not

[2020-02-07 21:50] kanekv commented on #235
Some additional info: this happens in node.js every time.

[2020-02-10 16:41] #235 closed

[2020-02-10 16:51] #240 closed

[2020-02-10 17:05] vishalnarkhede commented on #248
@yyan1998 closing this for now. Please reopen or get in touch with our support if you have any more questions!

[2020-02-10 17:05] #248 closed

[2020-02-10 17:16] BrantApps commented on #100
Owing to a series of unexpected breakages whilst using the sdk direct we've opted to move over to the Stream maintained React Native chat components. Alas, the problem described here...also exists there (https://github.com/GetStream/stream-chat-react-native/issues/72).

As a chat application this needs to be resolved. We need to be able to notify users who aren't looking directly at their channel

[2020-02-14 17:00] dongido001 opened #259 "I'm getting error when using the SDK in the browser"
I'm getting error when using the SDK in the browser.

When I use the SDK in the script tag:

<script src="https://cdn.jsdelivr.net/npm/stream-chat"></script>

I get the following error on the console:

<img width="658" alt="Screenshot 2020-02-14 at 5 57 16 PM" src="https://user-images.githubusercontent.com/18917158/74551462-82967600-4f53-11ea-9f7a-5cfc56e0787e.png">

I have also tried using: "http

[2020-02-15 09:56] pterk commented on #259
@dongido001 look into https://requirejs.org/ or check out a more highlevel tutorial here: https://getstream.io/chat/react-chat/tutorial/

[2020-02-16 11:30] tbarbugli commented on #259
@pterk this is an actual bug; the browser full bundle should be `umd` and not depend on require.

[2020-02-16 11:30] tbarbugli commented on #259
@vishalnarkhede @jaapbakker88 we used to support this. ie. https://cdn.jsdelivr.net/npm/stream-chat@1.3.2/dist/browser.full-bundle.min.js works just fine

[2020-02-16 11:31] tbarbugli commented on #259
@dongido001 in the meantime you can use an older version of the SDK (https://cdn.jsdelivr.net/npm/stream-chat@1.3.2/dist/browser.full-bundle.min.js)

[2020-02-16 11:39] tbarbugli commented on #259
1.2.3 seems to be the first release with this problem

[2020-02-16 15:35] dongido001 commented on #259
Thanks @tbarbugli ! works for me now

[2020-02-17 09:58] vishalnarkhede commented on #259
@dongido001 browser bundle has been fixed. now in `v1.3.3`.

[2020-02-20 00:50] DamonOehlman opened #263 "Improved TS types for event handlers"
Currently, the event registration and deregistration methods (`on` and `off` respectively) aren't correctly typed for registration of the "catch all" event handler case, i.e. it's not possible to do the following and have TypeScript be happy with you:

[code]

This can be pretty easily fixed by changing the type definitions to support the overloaded forms of the methods.  For example the type defi

[2020-03-01 04:15] #259 closed

[2020-03-06 07:29] kanekv opened #269 "no ts definition for getMessage"

[2020-03-12 13:59] lucasquinteiro commented on #100
I am having this issue too, has anyone found a workaround or something? Thanks!

[2020-03-25 15:51] davinchee opened #281 "couple of TS issues"
- activeChannels does not exist in the typings file, but exists on the ChatContextValue's client.
- users does not exist in the typings file, but exists on the ChatContextValue's client.state. Here are the properties on a user:
[code]

You may want to account for the functions on the user, as well as indicating that more properties can be added (or at least add instructions for how => extending fr

[2020-03-26 22:12] vishalnarkhede commented on #281
THanks @davinchee for bringing this up. I will look into it and update ts file if needed.

[2020-03-26 22:12] vishalnarkhede commented on #269
Thanks for brining this up @kanekv . We will fix it soon :)

[2020-03-27 09:04] vishalnarkhede commented on #226
@ferhatelmas can you tell me what were the changes?

[2020-03-27 09:49] #250 closed

[2020-03-27 09:49] #263 closed

[2020-03-27 10:02] ferhatelmas commented on #226
If I remember correctly, some event types were missing.

<details>
	<summary>All supported events</summary>

[code]
</details>

[2020-03-27 10:39] vishalnarkhede commented on #269
@kanekv  Fixed in `v1.6.0` !!

[2020-03-27 10:40] vishalnarkhede commented on #249
Hey @pawelborowik10c Please update to latest version of stream-chat. This issue is fixed :)

[2020-03-27 10:41] vishalnarkhede commented on #263
Hey @DamonOehlman fixed in `v1.6.0`. Please reopen if it doesn't work for you!

[2020-03-27 10:42] vishalnarkhede commented on #250
@fbartho fixed in `v1.6.0`

[2020-03-27 10:42] #269 closed

[2020-03-27 10:43] #249 closed

[2020-03-29 12:35] khanilov opened #286 "Channels query filters"
Hello,

In our application we want to add a reach variety of options to filter and search channels.
By investigating docs and trying to implement some of them I stuck and need your help to proceed.

1 - How can I do partial search by channel field?

I need to query channels by `name` field using partial search. How can I achieve this?

Query operators provided in [docs](https://getstream.io/chat/d

[2020-03-29 22:34] DamonOehlman commented on #263
@vishalnarkhede That's fantastic news - thanks heaps :)

[2020-03-30 20:44] thesyncim commented on #286
hi @khanilov,

we are about to introduce `{name:{"$q":"partialMatch"}}`

I will try to get this change live tomorrow.(i will keep you in the loop)

[2020-04-01 14:21] ferhatelmas opened #292 "Setup typesync in travis"
Related to missing typings in https://github.com/GetStream/stream-chat-js/pull/291

[2020-04-03 10:35] khanilov commented on #286
Any updates on this?

[2020-04-10 05:51] kusalshrestha opened #297 "Push token not removing"
The delete request returns success but does not remove the token from the stream.
[code]

[code]

[2020-04-18 16:33] JasonBenichou opened #306 "Newbie need some help"
Hello everyone,

I am a little lost, sorry if this is not the right place to ask this, but I would like to know if someone would have the capacity (and the good will) to explain to me or to give me some advice for them. following points.

Currently, I develop the authentication of my users thanks to firebase, I store all the data thanks to firestore. I now find myself blocked.

1) What is the corr

[2020-04-20 03:20] kgstaley opened #311 "Not possible to leave a group chat when using .removeMembers()"
When creating our chat app, we allow for users to create distinct channels wherein we do not pass a channel_id upon channel creation to allow for unique cids. However, we also want to give users the ability to leave a group chat, as well. After running await channel.removeMembers([memberIds]), I get the error of
[code]

And after looking through the testing files of the repo, it appears as though

[2020-04-20 15:25] lukepighetti opened #313 "Generating invalid tokens"
We have one user account with id `cvmtMELFkpZNbeKY2nAh6m9TMYW2` and we cannot generate a working token for them. Every other user appears to work.

Creating the token
[code]

Output
[code]

`stream debug:token` stating `Error: Malformed JWT token or Stream API secret.`
[code]

[2020-04-21 07:30] ferhatelmas commented on #313
This looks an interesting problem. I will try to investigate today.

[2020-04-21 12:12] tbarbugli commented on #313
can you include your API key? just the public part, that's safe to share (secret is not)

[2020-04-21 12:29] ferhatelmas commented on #313
@tbarbugli It's app `72110`, seems more like cli issue. I wanted to check but should I pass to Nick?

[2020-04-21 13:14] ferhatelmas commented on #313
It seems it's just bad error handling in cli. Submitted https://github.com/GetStream/stream-cli/pull/32 to fix the cli.

Closing this since no issue.

@lukepighetti please grab a new cli version after released and thank you so much the report.

[2020-04-21 13:14] #313 closed

[2020-04-21 17:45] lukepighetti commented on #313
Thanks!

[2020-04-22 15:51] khanilov commented on #286
Hey @thesyncim , I see that `$q` operator accepted by API. But I receive next error:
[code]

My filter conditions:
[code]

Is there any timetable on this feature?

[2020-04-23 14:48] bogdan-getstream commented on #297
@kusalshrestha can you tell us `app id`, `user id`, `device id` for debugging please?

[2020-04-28 08:40] ferhatelmas opened #314 "Missing server side support for Flag / Unflag"
This endpoint requires the user that makes the action but JS client doesn't permit to set a user for server side auth.

/cc @vishalnarkhede

[2020-04-28 20:18] WitleyInc commented on #311
I'm having the same problem as well. It returns the error, ```Error: StreamChat error code 4: UpdateChannel failed with error: "cannot add or remove members in a distinct channel, please create a new distinct channel with the desired members"```

[2020-04-29 21:56] WitleyInc commented on #311
My app also creates the channel without passing our own generated ID. I wonder why adding or removing members are not allowed in a distinct channel (assuming that the definition of a distinct channel is creating a channel using stream's generated IDs)

[2020-04-30 06:32] tbarbugli commented on #311
@walberty if you use distinct channels the list of members is the identifier of the channel, changing the list would be the same as changing its identity.

You should use distinct channels (channels without IDs) if you want to ensure one conversation for a set of users; if you expect the list of members to change then the recommended approach is to give the channel an ID from your end (ie. uuid4 i

[2020-05-07 16:12] M1chaelChen opened #320 "Refresh token"
In the documentation (https://getstream.io/chat/docs/tokens_and_authentication/?language=js#token-expiration), I'm not able to find an example for token expiration for JavaScript. Is there an API included for that in this library?

[2020-05-07 16:15] ferhatelmas commented on #320
:eagle: eyes - #319 is addressing it. Stay tuned.

[2020-05-07 16:16] ferhatelmas commented on #320
@vishalnarkhede assigned to you since your PR handles it.

[2020-05-15 11:36] #218 closed

[2020-05-15 12:24] vishalnarkhede commented on #320
@M1chaelChen please use `1.10.0` for token refresh functionality - https://github.com/GetStream/stream-chat-js/blob/master/docs/userToken.md

[2020-05-19 11:10] soethan98 opened #333 "Can't add new members to channel"
Can't add members to channel even by the owner of the channel in android.
**Result in 201 error API key not found**. It hitting wrong URL  when **addMembers()** is called with  wrong placement of the API key in path of the URL  and channel id in the query parameter.

https://chat-us-east-1.stream-io-api.com/channels/messaging/{api_key}/query?api_key={channel_id}&user_id=xxx&client_id=xxx

[2020-05-19 11:13] #333 closed

[2020-05-21 15:26] khanilov opened #336 "Get full channel's unread messages count"
[Docs](https://getstream.io/chat/docs/unread_channel/?language=js#unread-messages-per-channel) suggest to use channel.countUnread() to retrieve the number of unread messages in particular channel.

But in reality this method only count unread messages from fetched ones: there may be more.
https://github.com/GetStream/stream-chat-js/blob/fe91fdf4d89a993f9cd32da3fd6d236682431567/src/channel.js#L652-

[2020-05-22 13:59] vishalnarkhede commented on #336
Hey @khanilov we are yet to update this method. We recently added unread count as part of api response for query channel. The number that you are looking for is already present at `channel.state.read[user_id].unread_messages`

[2020-05-22 14:41] khanilov commented on #336
Should this field update through the time? Because it seems not.
Or it's only for initialising purposes?

[2020-05-31 22:30] DobritoiuBogdan747 commented on #100
I am having trouble with reconnecting the WebSocket.
client.wsConnection.disconnect() works but does _setupConnection() work?
Or do I have to do something else to reconnect? can I find it in client object?

[2020-06-02 05:32] agaace opened #342 "error TS2307: Cannot find module 'stream-chat'."
I'm trying to integrate stream-chat into my existing Typescript project and I'm stuck:

This import:
[code]
results in:
[code]

HELP!

Here's my `package.json` file:
[code]

And here's my `tsconfig.json` file:
[code]

[2020-06-03 09:25] vishalnarkhede commented on #342
Hey @agaace can you see `stream-chat` directory inside `node_modules` folder?

[2020-06-09 14:22] BenoitAveline opened #349 "Can't transpile with typescript 3.5.3"
Hi,
I have two anguar based project. One is using typescript 2.8.3 and I can use stream-chat fine. The other is using typescript 3.5.3 and can't transpile because of one of stream-chat's dependencies: ws

here is the error when trying to transpile :
[code]

[2020-06-12 03:38] alexlopezit opened #354 "userToken type needs to be updated to use it on Typescript"
Currently when setting a user `userToken` is set as a `string`, we need this to also accept a function so we can pass a tokenProvider function.

#353

[2020-06-12 06:09] vishalnarkhede commented on #354
@alexlopezit this has been fixed in 1.11.3. Thanks for bringing this up :)

[2020-06-12 06:09] #354 closed

[2020-06-12 16:39] DobritoiuBogdan747 commented on #100
Fixed here by doing client.queryChannels() after reconnection, the UI will update correctly afterwards.
[https://github.com/GetStream/stream-chat-react-native/issues/184#issuecomment-643370234](url)

[2020-06-16 08:57] vishalnarkhede commented on #349
THanks @BenoitAveline for bringing this up. We will check and get back to you!!

[2020-06-23 08:21] BrantApps commented on #100
This isn't fixed.

[2020-06-25 11:28] rubenvereecken opened #362 "Are BuiltinPermissions outdated?"
Because the permission objects that contain those seem to be ignored by Stream. I suppose perhaps they're an old version, the difference between eg `UpdateAnyMessage` and `UpdateOwnMessage` now handled by the `Permission.owner` flag? Replacing values from this enum with raw strings stolen from the default permissions of pre-defined channel types did the trick for me.

If so, I might be able to chi

[2020-06-27 12:49] manhncse02926 opened #531 "Reconnect set the old value of user instead of new value"
**Describe the bug**
I have an update function for the user that can change their information. I call `chatClient.upsertUser(user);`. It works well until I disconnect ( locked screen, background, unavailable internet...) then the client reconnects to GetStream. It will use old value to set to Getstream instead of value.
Example:
I have a user with the username is Naruto. I  updated to Uzumaki Naru

[2020-07-01 11:28] #320 closed

[2020-07-01 11:29] vishalnarkhede commented on #297
@kusalshrestha do you still need help with this? If yes, please reopen the ticket!!

[2020-07-01 11:29] #297 closed

[2020-07-01 11:35] vishalnarkhede commented on #286
@khanilov do you still need help with this?

[2020-07-02 06:39] khanilov commented on #286
@vishalnarkhede Yes. Native SDK's support for filtering channels by channel name and members names would be awesome.

[2020-07-02 07:38] alexlopezit opened #367 "StreamChat.off method has duplicated incorrect types"
I think this line should be removed as its returning the wrong types https://github.com/GetStream/stream-chat-js/blob/c596a3d83849f681f0f83f50d73a6ff224038379/types/stream-chat/index.d.ts#L230

Correct types in the line underneath

cc @tbarbugli

[2020-07-02 11:36] SuvidhaKapse commented on #367
hello, i want to use this code. and i am not able to run this code in visual code.
i followed below steps :
install node js, visual code,
clone code in folder
npm install stream-chat

but its not working.. please guide me how should i run this code. i have never run pure js code. i am working in .net. but i want to learn getStream in js

[2020-07-07 09:19] jaapbakker88 commented on #367
@alexlopezit these types are both correct, you can either send a callback as the only param, or a string and callback.  Are you running into an issue because of this?

[2020-07-08 23:05] alexlopezit commented on #367
@jaapbakker88  I am using a custom version of [this](https://github.com/GetStream/stream-chat-react/blob/v1.2.5/src/components/ChannelList/hooks/useNotificationRemovedFromChannelListener.js) to override some functionality and Typescript is not happy about it.

This is the Typescript version of the hook

[code]

And this is that client.off is expecting
![image](https://user-images.githubusercontent

[2020-07-08 23:24] alexlopezit commented on #367
Actually, just tried this and it seems to work better
```client.off('notification.removed_from_channel', null)```

Passing `null` as the second argument, would this be a valid implementation for the `client.off`?

[2020-07-09 09:15] vishalnarkhede commented on #367
Hi Alex,

This is a wrong syntax actually, which are currently fixing in this PR - https://github.com/GetStream/stream-chat-react/pull/396

Ideally it should be as following:

[code]

[2020-07-14 15:56] vishalnarkhede commented on #367
@alexlopezit ^^

[2020-07-14 16:00] vishalnarkhede commented on #286
Hi @khanilov ,

Sorry for delayed response. You use following filter condition for your usecase:

[code]

[2020-07-14 16:02] thesyncim commented on #286
@khanilov it's also possible to search members by name.

[code]

[2020-07-14 16:04] #342 closed

[2020-07-14 16:07] vishalnarkhede commented on #311
@WitleyInc @kgstaley closing this for now. Please reopen if you still need help with this!!

[2020-07-14 16:07] #311 closed

[2020-07-14 20:53] alexlopezit commented on #367
Thanks for that @vishalnarkhede, I'll update my code.

[2020-07-14 20:53] #367 closed

[2020-07-15 15:01] BenoitAveline commented on #349
As suggested [here](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/22405), I updated @types/node (latest) to my dependencies and it seems to work fine.

[2020-07-15 15:01] #349 closed

[2020-07-15 19:04] shodgetts opened #378 "testing for support"

[2020-07-15 19:04] shodgetts commented on #378
testing comment

[2020-07-15 19:05] #378 closed

[2020-07-15 19:58] shodgetts opened #379 "stephen tests again"
comment stuff here

[2020-07-16 05:50] AleenaJoseph426 opened #380 "Getstream Chat Error: AnimatedValue: Attempting to set value to undefined"
I am working with Getstream chat SDk in react native,
My package.json file looks like:
  "dependencies": {
    "@react-native-community/masked-view": "^0.1.10",
    "@react-native-community/netinfo": "^5.9.4",
    **"react": "16.13.1",
    "react-native": "0.63.1",**
    "react-native-device-info": "^5.6.2",
    "react-native-document-picker": "^3.5.3",
    "react-native-fast-image": "^8.1.5",

[2020-07-16 09:09] shodgetts commented on #380
Agent comment from Séni Gueye in <a href='https://getstream.zendesk.com/agent/tickets/4468'>Zendesk ticket #4468</a>:<br><br>Hi,

Thanks for getting in touch.
I'm transferring this to one of our React Native developers for further investigation.
He'll get back to you shortly.

Best regards,
Seni

[2020-07-16 10:33] vishalnarkhede commented on #380
Duplicate of https://github.com/GetStream/stream-chat-react-native/issues/240

[2020-07-16 10:33] #380 closed

[2020-07-18 08:38] khanilov commented on #286
@vishalnarkhede Works like a charm, thanks.

[2020-07-18 08:41] khanilov commented on #286
@thesyncim Thanks for the info!

[2020-07-18 08:41] #286 closed

[2020-08-06 09:35] rubenvereecken opened #395 "Cannot npm install from GitHub"
I need to be able to install from my fork on GitHub because it contains patches that are being merged too slowly in this repository.

[code]

fails with the following:
[code]

I haven't been able to work around it. Any advice?

[2020-08-06 11:02] tbarbugli commented on #395
we just noticed the same on our CI, we are looking into a solution (might also be a temporary issue with yarn/npm)

[2020-08-06 11:09] tbarbugli commented on #395
npm is broken atm, looks like they are working on a fix so this should go away pretty quickly

![image](https://user-images.githubusercontent.com/88735/89525145-0edc7400-d7e6-11ea-804b-4c6a6cb1291e.png)

[2020-08-06 11:11] rubenvereecken commented on #395
Actually that's what it did look like to me from the error message -- I should have mentioned. The package definitely seemed to exist. Then again, I could still install the usual way (`npm install stream-chat`) so I wasn't sure. Let's wait this one out for a bit then.

[2020-08-06 11:48] tbarbugli commented on #395
works now

[2020-08-06 11:48] #395 closed

[2020-08-07 18:34] lr-mjaouen opened #396 "queryMembers does not retreive the creator of the channel?"
# Description

Hello, nice refact! (The react one, btw there was breaking changes in minor releases)
Not sure it's the best place but apparently, queryMembers does not retreive the first user/creator/owner/moderator (I don't remember the role name) of the channel, I have all other users & initial presences but this one (it's not depending of the current user).
(right now I use client.queryUsers wi

[2020-08-07 19:38] shodgetts commented on #396
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/5199'>Zendesk ticket #5199</a>:<br><br>It will return the channel creator if you add them as a member. Are you doing so?

[2020-08-07 20:00] lr-mjaouen commented on #396
I will check thank you, we handle it on our side so probably not.
You don't add it at the creation? A reason?

[2020-08-07 20:19] shodgetts commented on #396
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/5199'>Zendesk ticket #5199</a>:<br><br>We don't, it's just not default behavior of the API. We give you the flexibility to add the channel_creator as a member or not. There are use cases that require both.

- Stream Support

[2020-08-07 21:04] lr-mjaouen commented on #396
ok thank you, I will take a look.

[2020-08-10 14:02] #396 closed

[2020-08-13 12:06] Himanshu-addweb opened #400 "Chat is not enabled for organization with id 49529"
I am facing this error while creating messaging channel

StreamChat error code 2: GetOrCreateChannel failed with error: \"Chat is not enabled for organization with id 49529

Please let me know where I am wrong or is anything I am missing from my end

gz#5288

[2020-08-13 12:13] shodgetts commented on #400
Agent comment from Séni Gueye in <a href='https://getstream.zendesk.com/agent/tickets/5288'>Zendesk ticket #5288</a>:<br><br>Hi,

This app is associated with an organization without any Chat plan or trial.
One of these two should be active for the Chat to be enabled on this app.

Regards,

[2020-08-13 12:16] Himanshu-addweb commented on #400
Hi @shodgetts
Thanks for the reply.

So what should exactly I do to overcome this problem please let me know step by step in code

[2020-08-13 13:31] shodgetts commented on #400
Agent comment from Séni Gueye in <a href='https://getstream.zendesk.com/agent/tickets/5288'>Zendesk ticket #5288</a>:<br><br>You cannot overcome this issue as it is not a technical but an account question.
You need to contact your team's admin that owns your Stream organization (Gaston) and ask him to either start the Chat trial or upgrade a Chat plan and then add you to the organization.

Regards

[2020-08-13 16:15] Himanshu-addweb commented on #400
Thanks @shodgetts ,
issue fixed.

but getting this error while adding new member to channel
'could not find user Priya from add_members'

can you please help me with this?

[2020-08-13 20:43] shodgetts commented on #400
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/5288'>Zendesk ticket #5288</a>:<br><br>What is the appID please? Are you sure that Priya is a registered user on the app?

[2020-08-27 20:15] jonatassales opened #410 "Can't handle 'notification.added_to_channel' event"
Hi everyone.

I'm building a custom ChannelList component to my company's React frontend but my client can't handle the 'notification.added_to_channel' event which I would use to fetch new channels with new members.

Our stack is Mobile (Flutter) -> Backend (Go) -> Frontend (React)

Here's how we're handling it in React:

[code]

It works with other events such as

`channel.on('message.new', handl

[2020-08-28 05:09] vishalnarkhede commented on #410
Hey @jonatassales do you mean you never receive the event `notification.added_to_channel`?

[2020-08-28 14:34] jonatassales commented on #410
yes

[2020-09-01 17:50] jonatassales commented on #410
Do you guys have any update on this? I've tested with the `stream-chat-react` V2.2.2 and it seems not to be working with your component as well

[2020-09-02 07:29] jaapbakker88 commented on #410
Testing this right now with the JS sdk this works fine with our react components. Can you eleborate a bit more. You say:`I would use to fetch new channels with new members`

Do you expect to get this notification when other members are added to the channel, because you only receive this notification for yourself.

[2020-09-02 17:12] jonatassales commented on #410
When a new user access our app and start a conversation in the chat, a new channel gets created. But my client in the frontend portal can only update with this new channel if I make a request to get this new channel. What I understood about the 'notification.added_to_channel' event is that I'm notified every time a member is added to the channel members array on a channel that's not being watched

[2020-09-03 09:43] jaapbakker88 commented on #410
@jonatassales you will only receive this event if you are added to the channel. Same goes for all `notification.*` events. You will get an `channel.updated` event if a members is added and you're watching the channel.

[2020-09-03 10:45] veloware opened #415 "Cannot invite users to channel"
I have a custom channel type, 'call' to be used for managing calls via Voxeet, created as follows -

`await client.createChannelType({ name: CustomChannelTypes.call }); //CustomChannelTypes.call = 'call'`

When trying to call another user, I was able to add them directly to the call by -

[code]

which I was able to get a handle on the 'notification.added_to_channel' event.  However I want to now

[2020-09-03 10:52] veloware commented on #415
Apologies, found the issue, my invited id also needed to part of the members array -

[code]

[2020-09-03 10:52] #415 closed

[2020-09-04 14:10] veloware opened #416 "Detecting when a user rejects an invite to a channel"
When a user gets invited to a stream channel -

[code]

I am watching for events -

[code]

an event is fired - `notification.invited` and similarly when the invitation has been accepted - `notification.invite_accepted`, however there is no specific event for when rejecting an invite, when I do -

[code]

instead, two events are fired - `channel.updated` and `member.updated`. Both of these event c

[2020-09-04 16:20] jonatassales commented on #410
I think I got confused on this. What I really need is: I want to my frontend client gets notified when the mobile user creates a channel, even if my frontend user is not in that channel. Is that even possible? Which event should I use?

[2020-09-07 04:46] DamonOehlman opened #417 "Type definitions for devdependencies"
Hey folks,

Just wondering if the various `@types/*` packages that have been included for working with various dev dependencies can be moved to devdependencies also, e.g. those related to mocha, chai, prettier, etc.

The `@types/mocha` is a particular pain point because if another package brings in a dependency on `@types/jasmine` then errors like the following arise during typescript transpilatio

[2020-09-07 05:28] shodgetts commented on #417
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/5805'>Zendesk ticket #5805</a>:<br><br>Hi Damon

Thanks for reaching out to us.
Are you using jasmine and mocha at the same time? This duplicate identifier issue is mainly because of jasmine and mocha declaring the same global variables.
I will check with our Engineering team and let you know.

Cheers
Seetha

[2020-09-07 05:51] DamonOehlman commented on #417
Yes, `@types/jasmine` is something we require as a a dev dependency ourselves for one of our other packages in our monorepo style project, which is why the conflict arises.  I can say with 99% certainty that all your testing related type definition packages (as mentioned - mocha, chai, etc) can be moved to `devDependencies` rather than `dependencies` which will allow consumers of the `stream-chat`

[2020-09-07 05:56] shodgetts commented on #417
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/5805'>Zendesk ticket #5805</a>:<br><br>Hi Damon

Thanks for the update.
I am checking with our Engineering team. We will provide an update once we hear from them. The engineering team works during EU hours.

Thanks for your patience.

Cheers
Seetha

[2020-09-07 07:21] #417 closed

[2020-09-07 11:14] jaapbakker88 commented on #410
@jonatassales if the frontend users gets added as a member to the channel, it will receive `notification.added_to_channel`. We don't send a general event for every channel created, as this could turn in to a lot of events that are not meant for the connected client. What's your use case for this? In my experience you only want people to know a channel is created when they're actually a member of i

[2020-09-07 20:52] jonatassales commented on #410
I see... We're building a help desk system in our frontend. So every help desk operator should be notified of a new channel created in our use cases. I understand why you guys don't support it though, it makes sense. We'll probably create our own events then. Thanks for the support @jaapbakker88 @vishalnarkhede .

[2020-09-07 20:52] #410 closed

[2020-09-09 14:07] veloware opened #421 "channel.data is sometimes an empty object after creating a channel"
I am creating a channel, server-side -

[code]

then after that, on the client I am calling -

[code]

_Sometimes_ `channel.data` is `{}` -

<img width="284" alt="Screenshot 2020-09-09 at 15 05 37" src="https://user-images.githubusercontent.com/61578546/92609046-01ffe400-f2ae-11ea-9f38-cca92083f457.png">

and sometimes it is there -

<img width="885" alt="Screenshot 2020-09-09 at 15 05 50" src="ht

[2020-09-09 18:24] shodgetts commented on #421
Agent comment from Anders Lund in <a href='https://getstream.zendesk.com/agent/tickets/5877'>Zendesk ticket #5877</a>:<br><br>Client-side you'll want to be using queryChannels() instead of `const channel = await client.channel(ChannelTypes.call, channelId);`​ because that's instantiating a new channel without a data object.

[2020-09-10 07:36] #421 closed

[2020-09-10 15:48] veloware opened #424 "Inviting a Moderator"
Is it possible to Invite a user to a channel, that when accepted, they would be a moderator?

I have tried the following -

[code]

Whilst it adds the users as a moderator, it doesn't look like they are invitations anymore.  I no longer see `invited: true` on the `user` object?

gz#5910

[2020-09-11 07:33] veloware commented on #416
any help on this, this seems like a fairly trivial use case?

[2020-09-11 12:35] keyneston commented on #416
HI @veloware I just took a look and can confirm we don't currently have an invite_rejected event, only an `invited` and `invite_accepted`. I've opened a ticket internally and we hope to have this added in the near future.

[2020-09-15 16:19] jhetuts opened #426 "Listening/catching flagged messages"
Someone already asked this but the [https://github.com/GetStream/stream-chat-js/issues/98#issuecomment-574245483](answer) is not clear to me. Found an event under webhooks `message.flagged` but it needs to setup webhooks first. Is there a better way to listen or catch this particular event on a client/front-end side?

gz#6002

[2020-09-15 16:25] shodgetts commented on #426
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/6002'>Zendesk ticket #6002</a>:<br><br>Hello, currently there isn't a way to listen to this event client side, it is a webhook only event.

[2020-09-15 16:25] #426 closed

[2020-09-15 16:27] jhetuts commented on #306
Checkout the blog section. I used to check some implementations there. Here's the [link](https://getstream.io/blog)

[2020-09-15 16:33] jhetuts commented on #426
Thanks for the prompt response @shodgetts. With that, it doesn't matter if the user is a moderator or admin right? I'm currently creating **CHAT MODERATION** just like you have in the dashboard, so I'm stuck.

[2020-09-15 18:53] shodgetts commented on #426
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/6002'>Zendesk ticket #6002</a>:<br><br>Hello, Yes, the webhook events are delivered to a URL, so they are not client side events at all and aren't delivered to any particular user type (user, moderator, admin, etc).

[2020-09-16 05:22] jhetuts opened #427 "Ban User, Response data is insufficient. (More of improvement less an issue)"
![image](https://user-images.githubusercontent.com/32116471/93295142-f452dd00-f81e-11ea-8b2d-a34bff96c915.png)

`const banUser = async (user) => {
      try {
        const res = await channel.banUser(user.id, {
            timeout: 2,
            reason: 'banned for one 2 minutes',
        });
      } catch (error) {
        console.log(error)
      }
    }`

Response:
`{"duration":"10.21ms"}`

I

[2020-09-16 06:06] shodgetts commented on #427
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/6025'>Zendesk ticket #6025</a>:<br><br>Hi

Thanks for reporting this out to us.
We will get this checked for you.

Cheers
Seetha

[2020-09-16 07:11] jhetuts opened #428 "Query all Flagged messages/ Deleted messages"
Hi, I'm currently creating a moderator dashboard so that they don't have to go through with the dashboard getstream has. I wanted to query all flagged messages, and query all deleted messages, just like you have on your dashboard. How do I do that, no documentation for that apparently. Thanks

gz#6027

[2020-09-16 07:22] tbarbugli commented on #427
@jhetuts the ban endpoint does not need to return more than a 2xx, there is nothing more than the user input to return here. What would you expect this endpoint to return?

[2020-09-16 07:58] jhetuts commented on #427
Hi @tbarbugli, `user` under `channel.state.message` should update upon banning that `user` just like when you delete a message, from type `regular` to `deleted`. Since it's not, I would like to query that specific user using that response and change the property value of `banned` from `false` to `true`. I have to hide **ban** `button` and display **un-ban** `button` dynamically

[2020-09-16 17:03] shodgetts commented on #428
Agent comment from Anders Lund in <a href='https://getstream.zendesk.com/agent/tickets/6027'>Zendesk ticket #6027</a>:<br><br>you aren't able to query for these types of messages, however, you can set up a webhook to listen for both of these events to be triggered and handle them however you see fit. You can find this documentation here.

[2020-09-18 00:17] hochoy opened #433 "Infinite loop of calls to GetStreamAPI from channel.watch()"
## Issue:
When we implemented the example in the GetStream belog, the `channel.watch()` call in line 55 resulted in an infinite loop of calls to the getStream API. It also resulted in timeout errors.

https://getstream.io/blog/securing-a-chat-app-with-react-and-auth0/#add-chat-functionality-with-stream:~:text=section.-,Add%20chat%20functionality%20with%20Stream

## to reproduce:
Here is a minimal

[2020-09-18 09:49] veloware opened #434 "Query channels with only members $in array and no others"
Is it possible to write a query to get the channels that have the members within an array of IDs, but only those members.

e.g. (channel `id` - [`userId`, ...]

channel 1 - [**2,3**]
channel 2 - [1,**2,3**]
channel 3 = [**2,3**,4]

where querying for channels with users 2 and 3 would only bring back channel 1, but **not** channels 2 and 3?

gz#6099

[2020-09-18 13:09] veloware commented on #434
actually, I just realised that the $in operator will match against `any` of the items in the array.

Is it even possible to currently write a query that would solve for matching against multiple items in the array as an `and`?

[2020-09-18 17:49] shodgetts commented on #434
Hello, we reproduced the issue and were able to resolve it using the following query
  const query = await client.queryChannels({
    members: { $**eq**: [id1, id2] },
  });

[2020-09-18 17:49] #434 closed

[2020-09-20 15:44] giautm opened #435 "Monorepos for GetStream"
There are three projects:
- https://github.com/GetStream/stream-chat-js
- https://github.com/GetStream/stream-chat-react-native (contains 3 packages: core, expo, native)
- https://github.com/GetStream/stream-chat-react

A lot of logic was duplicated between stream-chat-react & stream-chat-react-native. You should consider to merge them into a single repository (mono-repo) for sharing hooks/logic c

[2020-09-20 23:13] shodgetts commented on #435
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/6124'>Zendesk ticket #6124</a>:<br><br>Hi Giautm

Thanks for the suggestion. Appreciate it.

Cheers
Seetha

[2020-09-21 12:07] shodgetts commented on #435
Agent comment from Vishal Narkhede in <a href='https://getstream.zendesk.com/agent/tickets/6124'>Zendesk ticket #6124</a>:<br><br>Hey,

Thanks for the suggestion. But at the moment, brining all the repos under mono-repo or sharing code between react and react-native is not a viable solution for us, because of maintenance overhead that comes with it and insignificant overlap between react and react

[2020-09-21 13:47] #435 closed

[2020-09-22 10:20] veloware opened #436 "updating channel with new information removes previous data properties"
I have added a custom field on to a channel when creating the channel, `isGroup` -

_server side_

[code]
I can see the `isGroup: true` in the newly created channel when queried on the front end.

I then later wish to update the name for a group on the front end -

_client side_

[code]

however it seems that although `name` is updated, I lose the `isGroup` property.

I have also tried to spread t

[2020-09-22 15:06] shodgetts commented on #436
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/6161'>Zendesk ticket #6161</a>:<br><br>Thanks for the report... investigating.

[2020-09-23 08:33] veloware opened #438 "Unable to search for channel using partial matches, or case insensitive matches."
I have named my channels where they represent a group, for example 'Sales Team', 'Product Team' etc.

I don't see a way on how I can search for these channels by their name other than supplying a perfect, case sensitive match.

I have been using the following filter -

[code]

Is there a way I can match against partial strings, e.g. searching for 'Product' would bring me back my 'Product Team'?

I

[2020-09-23 09:24] vishalnarkhede commented on #438
@veloware you can do do the following:

[code]

[2020-09-23 09:38] veloware commented on #438
Thank you, that seems to work.  You may want to update https://getstream.io/chat/docs/query_syntax/?language=js with that (and any others that are not documented?)

Thanks!

[2020-09-23 10:28] vishalnarkhede commented on #436
Hey @veloware ,

We are aware of the issue that you mentioned. For channel.update, you will need to send all the properties manually everytime:

[code]

[2020-09-24 07:35] #436 closed

[2020-09-28 14:22] shodgetts opened #443 "Docs feedback on Chat Bots > Chat Bots"
***This ticket was escalated from Zendesk by Stephen Hodgetts:***

  **Ticket:** [#6210](https://getstream.zendesk.com/agent/tickets/6210)
  **Type:** Question
  **Priority:** Normal
  **Requester:** urenarafael
  **Organization:** -
  **Assignee:** Anders Lund
***

I cannot get attachments working from the server SDK - TS Error gz#6210

[2020-09-28 14:23] shodgetts commented on #443
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/6210'>Zendesk ticket #6210</a>:<br><br>Hi Rafael,

Thanks for all of the details. You're talking to us currently through our support platform and our TypeScript devs aren't actually able to access this. For this reason, I'm going to close this ticket and open one on our Github Issues for the JS SDK. I'll se

[2020-09-28 14:24] shodgetts commented on #443
I have the following code from your samples in the docs:

[code]

Which produces the following errors:

Argument of type '{ text: string; attachments: { type: string; title: string; actions: { name: string; text: string; style: string; type: string; value: string; }[]; }[]; }' is not assignable to parameter of type 'Message'.
  Types of property 'attachments' are incompatible.
    Type '{ type: st

[2020-09-28 14:41] shodgetts commented on #443
Agent comment from Vishal Narkhede in <a href='https://getstream.zendesk.com/agent/tickets/6210'>Zendesk ticket #6210</a>:<br><br>Hey Rafael,

Could you please tell what version of stream-chat and stream-chat-react-native are you using (from your yarn.lock file)?

Thanks,
Vishal

[2020-09-28 18:50] nhannah commented on #443
I would suggest updating to a newer version of our client, the string union `"primary" | "default" | "danger"` is from version 1.x and the major change in 2.x was a full typescript conversion. `style` is typed as `string` in 2.x, but for reference what is happening in 1.x is when you create your message object typescript infers the type of `style` as `string` then when it is used and compared to t

[2020-09-28 18:58] #443 closed

[2020-09-30 06:52] #428 closed

[2020-09-30 06:54] #227 closed

[2020-09-30 06:54] #379 closed

[2020-09-30 06:54] #400 closed

[2020-09-30 06:56] #306 closed

[2020-09-30 07:16] #226 closed

[2020-09-30 07:17] tbarbugli commented on #292
@nhannah do we still need this?

[2020-09-30 07:20] tbarbugli commented on #427
@jhetuts I dont think having a different API response will make any difference but I see your point about updating the state of the banned user. The ID of the user is provided as the parameter for ban/unban functions so you can use that to change the user as well when the call is completed.

[2020-09-30 07:20] #427 closed

[2020-09-30 07:22] ferhatelmas commented on #292
Good to close, ts compiler will bail out now.

[2020-09-30 11:06] mahboubii commented on #179
Thanks for reporting this, this is most likely an issue with your dependency manager. `isomorphic-ws` is not a [devDependency](https://github.com/GetStream/stream-chat-js/blob/master/package.json#L46) and should be installed automatically when you install the `stream-chat` from npm, make sure you clean the node_modules folder and install a fresh version of the package.
Let us know if you still had

[2020-09-30 11:06] #179 closed

[2020-09-30 11:34] leibowitz commented on #179
Maybe you failed to read the entire message, but my problem isn't with the package not being installed, but rather with the built version of `stream-chat-js`, aka with the `dist/browser.es.js`
And again, this is only an issue when running tests

[2020-09-30 11:42] mahboubii commented on #179
@leibowitz do you have a small set up for us to reproduce this issue locally?

[2020-09-30 12:19] leibowitz commented on #179
This is from a year ago @mahboubii, so I'm afraid I won't be able to give any more details

[2020-09-30 12:20] #438 closed

[2020-09-30 12:31] leibowitz commented on #179
The only thing I can say, is that I only have this issue with `yarn` (v1.17.3)

When installing via `yarn`, the `node_modules` is missing the package `isomorphic-wc`, but it is present inside `node_modules/stream-chat/node_modules`

I also tried with the latest v1.22.10, but same issue.

Whereas when using `npm` v6.14.4, `isomorphic-wc` is installed in the main project `node_modules` directory, an

[2020-09-30 12:39] mahboubii commented on #179
can you try with the latest version of the yarn? I just did a fresh install with yarn `v1.22.5` and I can see the `isomorphic-ws` is present under `node_modules` and `node_modules/stream-chat` is empty.

[2020-09-30 12:46] leibowitz commented on #179
I mentioned I tried with v1.22.10, so yes, I already tried with the latest.

Though at the time (and that is the version I am trying here) `stream-chat` version was on 1.1.7. Not sure if that matters, to be honest

[2020-09-30 12:49] leibowitz commented on #179
yeah even when trying with `stream-chat` v2.4.0, the issue remains

[2020-09-30 12:53] leibowitz commented on #179
Anyway, I guess I'm just wasting your time. As I said, this is from a year ago, and my solution was to specify the `isomorphic-wc` dependency explicitly, which was a good enough workaround. I just created the issue in here in case someone else was facing the same problem. And since you've already closed the issue, I guess this is it.

[2020-09-30 13:03] mahboubii commented on #179
This is an interesting issue, I don't see any specific problem with rollup configuration. The fact that installing the lib using `npm` resolves it means that either our `yarn.lock` file is not generated correctly or this is an issue with `yarn` itself.
anyway, I will regenerate the `yarn.lock` and make a new release, hopefully, this fixes the issue.

Thank you again for fast responses on this one

[2020-09-30 13:12] leibowitz commented on #179
Yeah, I cannot explain it either. I tried removing the `yarn.lock` file in the project and run yarn again, and it seems to have done the trick. Even though `isomorphic-ws` was specified in it, and that hasn't changed. Of course removing the yarn.lock results in all the packages being updated. So it would be impossible to know what package and version specifically was causing this.

[2020-09-30 13:14] leibowitz commented on #179
also the fact that using the version compiled via webpack locally didn't seem to result in this error, but when running the tests via karma it did.

[2020-09-30 14:43] mahboubii commented on #179
This is indeed a weird case. Do you use the same webpack configuration for Karma?

[2020-09-30 14:51] leibowitz commented on #179
Not really. In karma things are configured slightly differently. There is a webpack section in it, re-using some of the webpack config, but yeah it's complicated to explain.
Anyway, as I said, no need to investigate further. It's probably due to something particular to my setup. And since I found a workaround, I didn't really spend too much time trying to figure this one out

[2020-09-30 15:40] aleksvidak opened #450 "Update Existing User ID"
Is it possible to update existing user id?

Or if not, some kind of creating new user and copying data over from the old user to the new one?

gz#6346

[2020-09-30 19:24] shodgetts commented on #450
Agent comment from Anders Lund in <a href='https://getstream.zendesk.com/agent/tickets/6346'>Zendesk ticket #6346</a>:<br><br>No, this is not possible. user ID's are immutable. This is for security and compliance.

[2020-09-30 20:39] aleksvidak commented on #450
And what about copying messages from one user to another?

[2020-09-30 20:50] shodgetts commented on #450
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/6346'>Zendesk ticket #6346</a>:<br><br>Also not going to be possible to change the sender of a message. Also for security purposes, as you can imagine.

[2020-09-30 21:01] #450 closed

[2020-10-01 07:47] #151 closed

[2020-10-01 08:34] #239 closed

[2020-10-01 09:58] #292 closed

[2020-10-01 17:10] veloware opened #453 "Not receiving channel.deleted event for other members of the channel"
Im creating a channel and inviting members.  When the other users get the invites I am watching the channel for further events, such as the channel getting deleted.  If the channel gets deleted on the server side, I would like to remove invitations etc so invited users can no longer accept the invites and try and join the channel.

watching for invites -
[code]

setting up further watches for the

[2020-10-01 17:20] shodgetts commented on #453
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/6390'>Zendesk ticket #6390</a>:<br><br>Thanks for the submission. We'll address this shortly.

[2020-10-01 17:22] veloware commented on #453
thank you, if you don't mind as well - could you clarify this from the docs please? I though it was maybe related?

"Channel events are events sent to all users watching a channel **where the event originated**"

[2020-10-01 20:35] Ingibjorg commented on #100
@vishalnarkhede are there any plans to address this issue within the library? We just ran into this issue with our app and are implementing the web socket disconnection/reconnection workaround for now.

[2020-10-02 15:41] ath92 commented on #453
Hey @veloware , I had a look at this. I can confirm that invited members do not receive the `channel.deleted` event, or some other way of finding out if a channel that your user was invited to has been deleted. One workaround might be to first call `removeMembers` on the channel before removing the channel server-side, so the client would receive a `notification.removed_from_channel` event.

In th

[2020-10-02 15:52] veloware commented on #453
Thanks, I was able to remove the members first and use the notification event as described.  Thanks

[2020-10-02 16:26] #453 closed

[2020-10-05 08:51] mahboubii commented on #424
@veloware at the moment it's not possible to automatically promote an invited user to a moderator. The workaround is to leverage our webhook system, you can promote a user once they accept the invite using the [`member.added`](https://getstream.io/chat/docs/webhook_events/?language=js#webhook-event-types) event.

[2020-10-05 09:03] veloware commented on #424
Ok thanks

[2020-10-05 09:03] #424 closed

[2020-10-05 11:17] mahboubii commented on #416
@veloware in the meantime, in order to catch the rejected invite event, you can rely on `member.updated` event. this event includes a `member` attribute which corresponds only to the changed user, in your case the use who rejected the invite. In case the `invite_rejected_at` is there, you can consider this event the same as `notification.invite_rejected`. This event will not be fired again unless

[2020-10-05 11:39] veloware commented on #434
After upgrading to

[code]
The following fails -
[code]

with the following TS error -

<img width="658" alt="Screenshot 2020-10-05 at 12 25 57" src="https://user-images.githubusercontent.com/61578546/95075026-68d6b880-0707-11eb-9b56-229389f96f2b.png">

I tried to revert to using something like -

[code]

and it gives the following TS error -

<img width="658" alt="Screenshot 2020-10-05 at 12 25 5

[2020-10-05 12:57] #183 closed

[2020-10-05 15:37] veloware commented on #436
This seems to still giving an error for properties on the user/member of the channel -

[code]

[2020-10-06 08:16] gumuz commented on #436
@vishalnarkhede you think we should exclude `members` as well or is this a different problem?

[2020-10-07 09:46] #336 closed

[2020-10-07 10:17] veloware opened #460 "Types for created_by_id / created_by.id don't match data"
I noticed since upgrading to the newer version that the type definitions have changed around the created_by.id and created_by_id when creating a channel.  But they don't seem to match up with what actually gets returned in channel data.

I believe there used to be an `id` property on the `created_by` object on `ChannelResponse`, which doesn't seem to be there anymore -

[code]

however there is a

[2020-10-07 14:16] mahboubii commented on #460
@veloware As you can see both `created_by` and `created_by_id` are optional fields which means there are some cases that they might be undefined, usually you should rely on `created_by` to get necessary data about the channel owner.
`UserResponse` type extends the `User` [type](https://github.com/GetStream/stream-chat-js/blob/master/src/types.ts#L1476
) which has the `id` attribute present in its

[2020-10-07 14:24] mahboubii commented on #281
hey, @davinchee, the library is now fully rewritten in Typescript so the missing types should be fixed, we also have generics which allows you to extend the types based on your data.
Going to close this issue, let us know in case your issue still exists.

[2020-10-07 14:24] #281 closed

[2020-10-07 14:29] veloware commented on #460
Thanks, I missed the extension of `User`.  However, I get the following TS error -

<img width="631" alt="Screenshot 2020-10-07 at 15 26 36" src="https://user-images.githubusercontent.com/61578546/95344535-a70fdb80-08b1-11eb-8e32-70d42cf9bc6c.png">

[2020-10-07 14:45] mahboubii commented on #156
hey @sang2087, we do support locale in our UI SDKs, including our [React](https://github.com/GetStream/stream-chat-react#internationalisation) & [React-Native](https://github.com/GetStream/stream-chat-react-native#internationalisation) components.
We have also a [Translation](https://getstream.io/chat/docs/translation/?language=js) feature explained in the docs.
Please let us know if you are askin

[2020-10-07 14:45] #156 closed

[2020-10-07 14:46] mahboubii commented on #460
Where is the `data` coming from? which function are you using that leads to this issue?

[2020-10-07 14:53] veloware commented on #460
`incomingCallChannel` is a result of calling

[code]

[2020-10-08 08:30] veloware commented on #460
OK thanks

[2020-10-08 08:30] #460 closed

[2020-10-08 13:25] danishshaikh42 opened #463 "self signed certificate in certificate chain while calling channel functions"
Hello,

While executing the below code:

        const client = new StreamChat('myApiKey', 'mySecretKey');
        const token = client.createToken('myUserId');

        await client.setUser(
            {
                id: 'myUserId',
                name: 'myName',
                image: 'https://i.imgur.com/fR9Jz14.png',
            },
            token,
        );

        const channel = cl

[2020-10-08 13:57] mahboubii commented on #463
Hey @danishshaikh42, what is the exact error you're getting?

[2020-10-08 14:01] danishshaikh42 commented on #463
Error: self signed certificate in certificate chain
    at TLSSocket.onConnectSecure (_tls_wrap.js:1501:34)
    at TLSSocket.emit (events.js:315:20)
    at TLSSocket._finishInit (_tls_wrap.js:936:8)
    at TLSWrap.ssl.onhandshakedone (_tls_wrap.js:710:12)
    at TLSWrap.callbackTrampoline (internal/async_hooks.js:120:14)'

[2020-10-08 14:16] mahboubii commented on #463
@danishshaikh42 do you get an SSL error opening this [link](https://chat-us-east-1.stream-io-api.com/) in your browser?
Which region is your app located?
Looks like you have a bad certificate in your keychain, do you have issue accessing stream website or other URLs?

[2020-10-09 05:41] danishshaikh42 commented on #463
@mahboubii I get NOT FOUND message when I access the link you shared : https://chat-us-east-1.stream-io-api.com/

[2020-10-09 07:00] mahboubii commented on #463
@danishshaikh42 Sounds good, what about your app region?
can you try running your code in a different Machine or OS?

[2020-10-09 07:06] danishshaikh42 commented on #463
Running code on Windows 10 from Maharashtra, India

[2020-10-09 07:34] mahboubii commented on #463
@danishshaikh42 This is most likely not related to the SDK itself, you might have a bad certificate in your keychain causing this issue. Try testing your code with a VPN, OR on a different OS/Machine, OR you can simply disable Nodejs SSL check following this link in [stackoverflow](https://stackoverflow.com/a/58800300).

[2020-10-09 09:24] mahboubii commented on #100
@BrantApps @Ingibjorg So when you call `client.wsConnection.disconnect()`, it forcefully tries to reconnect? I can't see this behavior in non react-native environments.

Can you try this:

When app is pushed to background:
[code]
When app is opened again:
[code]

[2020-10-12 08:32] #314 closed

[2020-10-12 14:16] mahboubii opened #465 "Improve performance of channelState.addMessageSorted"
![image](https://user-images.githubusercontent.com/6333141/95756562-3815f680-0ca6-11eb-8d46-1304d3ad3907.png)

gz#6578

[2020-10-13 14:35] nosmirck opened #468 "Webhook - Notifications payload gets truncated for channels with more than 3 people"
I don't really know where to put this issue, I guess here is as good as any.

So, using webhooks for chat events we get a truncated payload (the json is not complete) if the channel has more than 3 users, which is totally useless.

We're using webhooks to customize the push notifications to our app, it works fine for one-to-one conversations but any group channel gives a broken payload that can't

[2020-10-13 17:30] shodgetts commented on #468
Agent comment from Anders Lund in <a href='https://getstream.zendesk.com/agent/tickets/6603'>Zendesk ticket #6603</a>:<br><br>Hi there,

We'd like to dig into this issue a bit further and to do so we'll need some information on your app. To keep your information confidential, would you mind reaching out to support@getstream.io?

Thanks in advance

[2020-10-14 00:59] nosmirck commented on #468
@shodgetts Well, all of the sudden, it started working again! Thanks anyways for your response! I'm closing this issue now.

[2020-10-14 00:59] #468 closed

[2020-10-15 07:32] mahboubii commented on #463
hey @danishshaikh42, going to close the issue for housekeeping, let us know if you still needed help.

[2020-10-15 07:32] #463 closed

[2020-10-19 11:01] veloware commented on #436
any thoughts on the above?  The above error stops you from using the solution of spreading in the existing channel data as done in the unit tests.  Not sure if this is because the test data may not have a proper representation of a member object, containing `user` with a `created_at` etc

[2020-10-20 09:54] #465 closed

[2020-10-22 09:21] agaace opened #474 "How do I delete users?"
I want to permanently delete users via the Stream API. I cannot seem to find the documentation on how to do it?

gz#6791

[2020-10-22 10:33] shodgetts commented on #474
Agent comment from Séni Gueye in <a href='https://getstream.zendesk.com/agent/tickets/6791'>Zendesk ticket #6791</a>:<br><br>Hi,

You can find more information about our GDPR endpoint including more detail on how to delete. users here in the following docs section : https://getstream.io/chat/docs/gdpr/?language=js#delete-a-user

Best regards,

[2020-10-22 13:11] mahboubii commented on #474
@agaace this should do the trick if you are looking for a hard delete, adjust the options accordingly:
[code]

[2020-10-22 13:11] #474 closed

[2020-10-24 21:41] melissafzhang opened #476 "Creating channel error"
When trying to create a channel on my server, I'm getting this error
`Error: StreamChat error code 4: GetOrCreateChannel failed with error: "either data.created_by or data.created_by_id must be provided when using server side auth."` How do you fix this? I'm not seeing any reference to `data.created_by` in the documentation.

[code]

**Versions**
stream-chat: 2.7.0
node: 10.19.0

gz#6848

[2020-10-25 18:04] #476 closed

[2020-10-26 18:52] melissafzhang opened #479 "Error Uploading Image"
**Describe the bug**
When trying to upload an image on simulator, I get this error
`StreamChat error code 4: UploadImage failed with error: "request Content-Type isn't multipart/form-data"`

**Dev environment info (please complete/provide the following information):**

-  "stream-chat": "2.6.0"
- "stream-chat-expo": "^1.3.4"
- "react-native": "39.0.3"
- "expo": "^39.0.0",
- iOS simulator

**To Rep

[2020-10-26 18:55] #479 closed

[2020-10-28 06:25] alexlopezit opened #480 "Is the `id` on message now required?"
https://github.com/GetStream/stream-chat-js/blob/8efa2272be22331f51bcc7b54cb256e52b95c43f/src/types.ts#L1354

Typescript
![image](https://user-images.githubusercontent.com/1654135/97400013-11a8ba00-193a-11eb-8458-58533f0e2fbe.png)

According with the documentation here https://getstream.io/chat/docs/silent_messages/?language=js we should be able to send a message without and `id`.

![image](https:

[2020-10-28 10:27] mahboubii commented on #480
@alexlopezit `id` is not required when sending a new message, we will push a fix for it soon.

[2020-10-30 15:47] #480 closed

[2020-10-30 15:57] mahboubii commented on #480
fixed in v2.7.2

[2020-11-01 13:55] Z-a-r-a-k-i opened #486 "Check for token expiration"
Is there any easy way to check for a token validity client-side, to refresh it if needed before calling setUser ?

gz#7048

[2020-11-01 18:35] Z-a-r-a-k-i commented on #486
I think that actually you never refresh a token and use a new one each time setUser is called.

[2020-11-01 18:35] #486 closed

[2020-11-03 03:08] alexlopezit opened #487 "Attachments downloading with wrong filename and no extension"
For some reason all attachments we upload display fine but when we try to download by clicking on the file link, the file that gets downloaded has the name `[object Object]`.

Image showing the filename of files.
![image](https://user-images.githubusercontent.com/1654135/97946135-2d4a0f80-1dd5-11eb-960f-3ca672295f58.png)

I noticed that as soon as I select or drop a file the api request for any im

[2020-11-03 09:38] #487 closed

[2020-11-03 09:45] mahboubii commented on #487
@alexlopezit Thanks for reporting this. It should be fixed in [v2.7.3](https://github.com/GetStream/stream-chat-js/releases/tag/v2.7.3)

[2020-11-09 13:52] nal-ws-001 opened #495 "Stop Live Event for Channel"
When i receive notification.removed_from_channel in a group chat, I want to stop live events for that channel. Which method is suit for that case?

gz#7218

[2020-11-09 14:54] shodgetts commented on #495
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/7218'>Zendesk ticket #7218</a>:<br><br>Hello, can you try to unwatch the channel when you receive this event?https://getstream.io/chat/docs/watch_channel/?language=js#unwatching

[2020-11-09 16:40] nal-ws-001 commented on #495
Thanks. I got it by using channel.stopWatching

[2020-11-09 16:40] #495 closed

[2020-11-16 14:53] amardeepranu opened #530 "If token refresh promise fails the channel list keeps refreshing"
On the latest version (v2.0.2) when the userTokenOrProvider is provided to the setUser method: if the user refreshes and the token refresh promise fails for any reason the list keeps refreshing indefinitely with no way to make it stop.

gz#7390

[2020-11-17 08:18] mahboubii opened #506 "JSDOC"
improve jsdoc by referencing all the features to the website docs similar to this:

`@see {@link https://getstream.io/chat/docs/typing_indicators/?language=js|Docs}`

gz#7416

[2020-11-17 08:46] mahboubii opened #507 "Limit server only features on the client"
Consistently prevent sending an API call when server only features are called in client mode by throwing a meaningful error.
similar to

https://github.com/GetStream/stream-js/blob/bada59f6f6067127655b3f59d78f81b1f9a28e91/src/client.ts#L268-L274

gz#7417

[2020-11-17 09:55] #416 closed

[2020-11-20 22:32] chenghw opened #643 "User unable to set user to invisible"
Hi,

I'm trying to use the [invisible](https://getstream.io/chat/docs/presence_format/?language=js#invisible) feature but can't seem to get it working properly.

[code]

The behavior I'm trying to create is where I'd be signed in and I can turn myself invisible. However the `setUser` method checks if I've already set my user and errors out telling me to disconnect first. When I disconnect and try

[2020-12-08 18:26] shodgetts commented on #531
Hello, can you share code around how you are using upsertUser() and setUser()? Are you passing username into setUser();?
setUser() does a bunch of things, including update any fields that are passed to it
https://getstream.io/chat/docs/init_and_users/?language=js#websocket-connections

[2020-12-08 18:53] jonatassales opened #537 "Query on messages"
How can I query channels with more than zero messages like `{ 'messages.length': { $gt: 0 }}`

I've tried everything and nothing works =(

gz#7863

[2020-12-08 19:03] shodgetts commented on #537
Hello, yes, this isn't immediately obvious. You can add a filter such as this

[code]

Where the timestamp is some time in the past.

[2020-12-09 09:48] tranlehaiquan opened #538 "Unread channel doesn't count when user replay in thread"
As title issue. When the user replay to a thread `unread_channels` doesn't trigger. So users don't know the new message coming.

gz#7893

[2020-12-09 14:22] shodgetts commented on #538
Agent comment from Séni Gueye in <a href='https://getstream.zendesk.com/agent/tickets/7893'>Zendesk ticket #7893</a>:<br><br>Hi,

By design, our API only increases/updates unread counts/unread channels for messages with type `regular`.

[2020-12-09 15:02] vtereshyn opened #539 "Token doesn't regenerates after expiration"
I use server-side token generating. When I receive an error from the server about token expiration I do re-fetch of the token, but always get the same value. The only case when I get a new token value is restarting of my server.

[code]

This code will return the same token every time when function calls.

NOTE: I am not using REST on my server, I'm using GraphQL if it can be issue.

[2020-12-09 15:32] shodgetts commented on #539
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/7905'>Zendesk ticket #7905</a>:<br><br>Hi,

Thanks for reaching out! I am looking into this for you now and will be in touch shortly.

Best,
Ryan

[2020-12-09 16:17] shodgetts commented on #539
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/7905'>Zendesk ticket #7905</a>:<br><br>Hi,

This is expected behavior as per our docs, please take a look here. If you would like to have a new token each time you request one, then you will want to create a function or class that you implement and that is responsible for requesting a new token. By default, u

[2020-12-09 18:05] tranlehaiquan commented on #538
@shodgetts

So no way to know if the user has an unread message from replay?

[2020-12-09 18:51] shodgetts commented on #538
Agent comment from Stephen Hodgetts in <a href='https://getstream.zendesk.com/agent/tickets/7893'>Zendesk ticket #7893</a>:<br><br>Not by default, sorry.

[2020-12-09 19:05] tranlehaiquan commented on #538
It ok @shodgetts, I just want to confirm it doesn't support

[2020-12-09 19:05] #538 closed

[2020-12-09 21:27] #537 closed

[2020-12-10 10:00] vtereshyn commented on #539
Thanks for your responding

But still, this is not clear to me why your `createToken` function which accepts `expiration time` parameter always returns the same value.
My client fetchs API to get new token if it's expired, but `createToken` returns old value again and again. This is definitely an issue

[2020-12-10 13:26] #539 closed

[2020-12-21 20:12] SeniYG commented on #531
Hi @manhncse02926,

Are you still experiencing this issue?

Best,

[2020-12-22 01:08] manhncse02926 commented on #531
Hi It has been fixed on our application. thANK

[2020-12-22 01:08] #531 closed

[2020-12-22 03:55] agaace opened #554 "How to get number of users online across ALL channels within a team?"
Hello, currently we do this:

[code]

which is terribly inefficient. We're having issues hitting our API quota with `queryMember` calls because we have a lot of channels and making an API request for each and every one to count members. How do we get stats like this - say total number of users online, in a single API call? Can be slightly stale data, say 15 min stale, we don't care for it to be ac

[2020-12-22 15:50] lr-mjaouen opened #555 "Custom events & channel types"
Hello,

It's more for a clarification:
[code]
I don't see anything in the doc, on the feature announcement I can read "Custom events are enabled by default in all channel types." https://getstream.io/blog/feature-announcement-custom-events/
I saw we can update as well the channel type and with few options.
[code]
A small clarification would be welcome, maybe I missed something?
Thank you.

gz#8194

[2020-12-22 16:07] shodgetts commented on #555
Agent comment from Anders Lund in <a href='https://getstream.zendesk.com/agent/tickets/8194'>Zendesk ticket #8194</a>:<br><br>Hi there,

This can be enabled / disabled from your dashboard. Would you mind double checking that custom events are not disabled on the channel types you'd like to utilize this feature on? You can find these like so: Dashboard -> App - Chat Overview -> channel type.

[2020-12-22 16:09] lr-mjaouen commented on #555
I will thank you. I never looked at the dashboard.

[2020-12-22 16:50] shodgetts commented on #554
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/8181'>Zendesk ticket #8181</a>:<br><br>Hi. After checking in with my manager, I need to make some slight changes to this answer. `Watcher_coun`t will return a list of watchers regardless of membership. For members, you will want to use `member_count` from `channel.data,` instead of `channel.members`. Please l

[2020-12-22 16:59] saddington commented on #554
thanks @shodgetts — we're very interested in seeing this "work" for us... but, are unsure tbh of the long-term viability for our app. :)

[2020-12-22 17:20] shodgetts commented on #554
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/8181'>Zendesk ticket #8181</a>:<br><br>You're welcome, John - The Stream Chat API is powerful and flexible and could be a great asset to your app. Wishing you luck with the long-term viability factor. Please let us know if you have any further questions!

[2020-12-22 17:41] saddington commented on #554
... you literally don't have to sell us. we've been customers for like.. almost a year now. lol.

[2020-12-22 18:15] shodgetts commented on #554
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/8181'>Zendesk ticket #8181</a>:<br><br>For sure! I do see that now. Please let us know if you have any feedback for us! We always appreciate new ideas from customers who have used the chat product as long as you have. Let me know if you have any other questions at the moment as well :)

[2020-12-22 20:25] lr-mjaouen commented on #555
Ok thanks, I let a screenshot cause I struggled a bit to find it.
![image](https://user-images.githubusercontent.com/56837954/102929914-74fe2680-4469-11eb-8524-193cc00a3abb.png)

[2020-12-22 20:26] lr-mjaouen commented on #555
Ok thank I found it, (first select your app then: chat > overview)

[2020-12-22 20:26] #555 closed

[2020-12-22 20:54] lr-mjaouen commented on #555
Same I had to update the permissions,
![image](https://user-images.githubusercontent.com/56837954/102932302-05d70100-446e-11eb-8758-186817b8b81d.png)

[2020-12-31 06:35] agaace commented on #554
@shodgetts That seems to work, thank you. Just double checking: will it only count members who are currently online, or all members who have ever been added to the channel?

[2020-12-31 06:41] agaace commented on #554
@shodgetts I just confirmed that `member_count` returns ALL members inside a channel, regardless of whether they are currently online or not. So this isn't a working solution for me..

[2020-12-31 21:29] shodgetts commented on #554
Hello, So watcher count is going to give you a count of the users who are currently watching the channel. I'm guessing in this use case to read the channel a user will need to be a member.

[2021-01-02 04:24] agaace commented on #554
@shodgetts Could you provide a code sample? Like the one I provided above, but using the watchers? This code will be executed server-side, so we can expose these counts via our own API. Thanks!

[2021-01-04 18:34] shodgetts commented on #554
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/8181'>Zendesk ticket #8181</a>:<br><br>Hi,

Sure thing. Please see the below code to get the watcher count of a channel.

        const filter = { cid: channelCID };    const sort = { last_message_at: -1 };    const channel = await chatClient.queryChannels(filter, sort, {});    return channel[0].state.watcher

[2021-01-05 01:59] agaace commented on #554
@shodgetts Thanks, I think that should do the trick. But now that I'm not getting members, how do I get number of all members in all channels (online and offline)? I tried `channel.data.member_count` but it doesn't work. In fact, in Typescript that's not even a field, and it's giving me a 0 if I force it nonetheless..

[2021-01-05 02:54] agaace opened #574 "How to manage channel-user membership efficiently in a large app?"
Hello,
I have a large multitenant app. Let's say my typical team size will be 1,000 users and 50 channels. How can I efficiently manage users and channels in such a large app?

Scenario 1:
Adding channel #51 that will be public and visible for everyone. So I want to add all existing 1,000 users as members of channel #51.

Solution:
Looks like I will have to fetch all exiting members in chunks of 1

[2021-01-05 03:17] shodgetts commented on #574
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/8388'>Zendesk ticket #8388</a>:<br><br>Hi

Thanks for the details.
We will check this and get back to you soon.

Cheers
Seetha

[2021-01-05 18:26] shodgetts commented on #574
Agent comment from Anders Lund in <a href='https://getstream.zendesk.com/agent/tickets/8388'>Zendesk ticket #8388</a>:<br><br>Unfortunately, this is a situation where our API does not perfectly fit the use case. That being said, there is still a scalable solution here. Instead of making API calls within loops, I'd recommend using multi tenancy (as you are) & open channels in tandem with our webhoo

[2021-01-06 16:06] shodgetts commented on #554
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/8181'>Zendesk ticket #8181</a>:<br><br>Hi,

Thanks. I hear you. Just tried `return channel[0].data.member_count` and recieved accurate numbers on my end. Could you please provide more of your code for more context?

Best,
Ryan

[2021-01-11 17:01] shodgetts commented on #554
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/8181'>Zendesk ticket #8181</a>:<br><br>Hi,

Please reach out if you have any more questions! I am going to close this ticket for now.

Best,
Ryan

[2021-01-15 01:20] builtbyproxy opened #642 "Deactivated Chat User still receiving information"
**Describe the bug**
A clear and concise description of what the bug is.

**Dev environment info (please complete/provide the following information):**

- Package version:
	- `"stream-chat": "^1.7.2"`
	- `"stream-chat-react-native": "^0.10.0"`
- react-native or expo version:
	- `"react-native": "0.61.5"`
- Device/Emulator (android/ios) and OS version
	- `iPhone X - 12.4`

**To Reproduce**
Steps to

[2021-01-18 06:05] nandakishorebhandari opened #589 "QueryChannels method returns instance methods."
import { StreamChat } from 'stream-chat'
const streamClient = new StreamChat(apiKey, apiSecret, {})

const filter = { type: 'team }

const channels = await streamClient.queryChannels(filter)

console.log(channels)
**Expected**:  JSON formated data.

**Error While sending channels as API response**
  TypeError: Converting circular structure to JSON
      at JSON.stringify (<anonymous>)
      at res

[2021-01-18 08:28] mahboubii commented on #589
hey @nandakishorebhandari,
`queryChannels` method returns an array of enriched Channel class which has some circular object references for ease of use. If you need the raw data returned by API, you can get most of it like this:
[code]

[2021-01-18 09:49] nandakishorebhandari commented on #589
Thanks @mahboubii

[2021-01-18 09:49] #589 closed

[2021-01-22 06:11] deerawan opened #596 "Typing issue regarding Immutable"
Hi GetStream team,

Please close this if it's not appropriate place to ask.

# Tech stack
- Typescript 4.0.5
- Angular 11
- Stream Chat 2.11.1

# Issue

I'm building a service class in Angular as a wrapper for Stream. One of the functions is to get the messages from the active channel then convert it to our message schema using `convertMessage` function as seen below.

The `convertMessage` is also

[2021-01-22 09:29] mahboubii commented on #596
hey @deerawan,
Keep in mind that the message you get from `message.new` event is the exact message sent by API, however, the message we store in the `channel.state` is a bit different since we add some extra attributes and convert the timestamps to actual Date objects and convert it to immutable.

We are actually in the process of removing the Immutable wrappers but in the meantime, you can fix th

[2021-01-22 10:00] #507 closed

[2021-01-22 10:01] #506 closed

[2021-01-26 18:05] sayginburak opened #598 "queryChannels doesn't return more than 10 channels"
I am trying to retrieve channels set for a user. Although docs state that max limit for queryChannels method is 30 it doesn't return more than 10.
https://getstream.io/chat/docs/query_channels/?language=js#query-options

My code is below. It is returning only 10 channels. But it should be more.
[code]

gz#8891

[2021-01-26 18:09] shodgetts commented on #598
Agent comment from Anders Lund in <a href='https://getstream.zendesk.com/agent/tickets/8891'>Zendesk ticket #8891</a>:<br><br>Hi there,

Can you confirm that the user is a member of more than 10 channels?

[2021-01-26 20:05] sayginburak commented on #598
I've  tried to sort by created_at descending and ascending. both times I got the same 10 channel_ids. I've actually created 18 channels for this user. Is there any limitations that might be causing this? Such as members can be subscribed to only 10 channels for some reason?

[2021-01-27 13:20] #598 closed

[2021-01-28 12:57] DmitryDAtSpark opened #601 "“Replying to a thread” and mention are not triggering notifications for the recipient(s)"
The following methods are not counting unread messages and mentions in any thread:

[code]
And events that keep` total_unread_count` property are not taking into account any messages and mentions in threads.
Is there any way to get notified about a new message in a thread? At least for mentioned users or participants of a thread?

[2021-01-28 15:05] shodgetts commented on #601
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/8954'>Zendesk ticket #8954</a>:<br><br>Hi,

Thanks for reaching out! We will take a look at this issue and get back to you as soon as possible.

Best,
Ryan

[2021-01-28 20:58] shodgetts commented on #601
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/8954'>Zendesk ticket #8954</a>:<br><br>Unread messages and mentions in a thread do not count towards the unread count. It is in our roadmap to address this limitation.

[2021-01-28 23:32] Lucasdsk opened #603 "Query users without a limitation"
Hello!!

I'm trying to query users through the `queryUsers` function but in our App we can not have a limit of users. Currently we have more than 200k users and this number is still increasing.

For now I've set a limit of 10000:
[code]

Is there a way to disable this limitation? Setting `-1` for example, something like that.

gz#8972

[2021-01-29 00:03] shodgetts commented on #603
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/8972'>Zendesk ticket #8972</a>:<br><br>Hi

Thanks for reaching out to us.
We will get back to you soon.

Cheers
Stream Team

[2021-01-29 02:07] shodgetts commented on #603
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/8972'>Zendesk ticket #8972</a>:<br><br>Hi

The offset limit is set at 1000. You can paginate through the query.
Is this a one time export of all users from the app? We would like to understand more details as we are talking about 200k+ users. Can you please elaborate your use-case and send out an email to support@get

[2021-01-29 10:35] DmitryDAtSpark commented on #601
@shodgetts Hi,
Do you have any deadline when you going to address it? We have hundreds of users impacted.
We are facing the choice: to spend our devteam's time and implement it on our own OR wait for the getstream team to deliver the feature.
Timing is the deciding factor in this case.

[2021-01-29 11:16] 6ewis commented on #603
@shodgetts We are well on our way to 1M users, We are growing extremely fast. Our users have private conversation with their partners; in other words they can only initiate a two-person chat.(I,e a woman and her husband can chat in private). We occasionally send prompt messages to all our users in their private channels. However, there seem to be a limit in the number of users we can query with `q

[2021-01-29 15:56] shodgetts commented on #601
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/8954'>Zendesk ticket #8954</a>:<br><br>Hi,

That makes sense. There is not a deadline at the moment. Which organization are you currently with?

Best,
Ryan

[2021-02-01 04:10] shodgetts commented on #603
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/8972'>Zendesk ticket #8972</a>:<br><br>Hi

Thanks for the details.
I think it is better to have a call arranged with your team.
We will reach out to you via email.

Cheers
Seetha

[2021-02-01 08:47] DmitryDAtSpark commented on #601
@shodgetts
Hi,
ProgressRetail
APP ID: 98681

[2021-02-01 19:23] #603 closed

[2021-02-01 20:33] shodgetts commented on #601
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/8954'>Zendesk ticket #8954</a>:<br><br>Hi,

Thanks for providing this information and details on how this is impacting you above. We are always open to feedback on product features. Please don't hesitate to let us know if you have any other feedback or questions at the moment.

Best,
Ryan

[2021-02-03 11:56] DmitryDAtSpark commented on #601
Hi @shodgetts
Yes, we still have a question when we can expect the release of this feature? Can you name Q1/Q2/Q3 ... at least? It is very important for us.

Thanks.

[2021-02-03 15:11] shodgetts commented on #601
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/8954'>Zendesk ticket #8954</a>:<br><br>Hi,

Unfortunately, there is not currently a deadline for this feature at the moment.

[2021-02-15 09:31] mahboubii commented on #596
Please upgrade to v3 of the SDK which no longer uses ImmutableJS.

[2021-02-15 09:31] #596 closed

[2021-02-16 20:25] fredwilby opened #617 "Issues with fetching channels"
Hi,

I'm working on a chat app that currently has around 15 public channels as well as a bunch of private ones. Recently we've begun having issues both with the react channel list component and the `queryChannels` API call more generally.

In short, channels which should be showing up are continually going missing, both from the react list and our admin panel powered by the API call.

Investigatin

[2021-02-16 20:42] shodgetts commented on #617
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/9457'>Zendesk ticket #9457</a>:<br><br>Hi,

Thanks for reaching out. Let me look into this for you. Will be in touch soon.

Best,
Ryan

[2021-02-17 10:51] ivan-rodriguez-ag opened #618 "Support sending system messages"
Hi,

I am trying to send **system** message from my node server with the following code:

[code]
The **sendMessage** action fails with the error:

`UnhandledPromiseRejectionWarning: Error: StreamChat error code 4: SendMessage failed with error: "message.type is a reserved field"`

As i see in the documentation this field is available in server side API, i imagine the **stream-chat** packages is wh

[2021-02-17 11:46] SeniYG commented on #618
Hi,

Thanks for reaching out.
The stream-chat JS client can be both used for server-side or client-side usage.

Regarding your issue, I believe it is due to a mistake in the docs as the information provided for the `type` field is wrong.
`message.type` is indeed a reserved field that is only set by the API backend. It is not possible to set or update it on a message yourself.
Still, you can introd

[2021-02-17 15:42] irodriguezagentero commented on #618
Hi,

I need to implement something like this:
![image](https://user-images.githubusercontent.com/50103287/108227645-62892c00-713e-11eb-8a9f-dcd4f4690acd.png)

My problem is the "blue" message that is not related to any user. When i send a message i need to add a user_id, i thought if i set type "system" user is not required. If i use the approach you tell me the message is related to a user not as

[2021-02-17 17:41] shodgetts commented on #617
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/9457'>Zendesk ticket #9457</a>:<br><br>Hi,

The hard limit is 30 here.

For the first query, please use a filter. This will make things much easier. Here is an article on how to use filters - https://getstream.zendesk.com/hc/en-us/articles/360057461213-Querying-for-Channels-with-the-Stream-Chat-API

For the l

[2021-02-17 17:50] fredwilby commented on #617
Hi Ryan,

We can workaround our server-side usage by limiting / filtering, but for the last query we're trying to show users a list of all the channels they're in, public and private, so they can switch between them. Are you saying there's no way to get the out of the box React channel list to support this? It seems like it should be possible given the presence of pagination options.

Thanks
Fred

[2021-02-23 17:35] SeniYG commented on #618
Hi there,

Sorry for the delay on this. Indeed, the API does not support sending system messages to push marketing content for example on behalf of a master app system user.
Our engineers are currently building a Campaigns feature that allows customers to reach their users directly via marketing and transactional campaign messages with fine control over the specific audience targeting.

The featur

[2021-02-24 22:28] shodgetts commented on #617
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/9457'>Zendesk ticket #9457</a>:<br><br>Hi Fred,

Could you please try this filter? It should fetch both channel types for a user.

    const filter = {    $or: [     { type: "livestream" },      {        type: "lobby",        members: {          $in: ["user_id"],        },      },    ],  };

Best,
Ryan

[2021-02-26 19:42] AnatolyRugalev commented on #618
Hey @irodriguezagentero

There's actually a way to do what you want, but it will require changing channel data. [Update channel docs](https://getstream.io/chat/docs/other-rest/channel_update/?language=javascript#full-update-(overwrite))

When performing a channel update you can specify a message which will be sent as a system message to the channel. The only caveat is that you will have to change

[2021-03-04 07:34] BrianLi101 opened #623 "Typescript typing broken on versions 3.x.x"
On line 250 of `stream-chat/dist/types/types.d.ts` there is a Typescript issue with the following line:

`i18n?: RequireAtLeastOne<Record<`${TranslationLanguages}_text`, string>> & {`

It looks like `Record` is unable to be used with `${TranslationLanguages}_text` and has the error `'>' expected`.

gz#9864

[2021-03-04 07:59] vishalnarkhede commented on #623
@BrianLi101 Could you please show the screenshot of error?

[2021-03-04 17:15] BrianLi101 commented on #623
<img width="817" alt="Screen Shot 2021-03-03 at 10 38 57 PM" src="https://user-images.githubusercontent.com/17527579/110002338-43b09b00-7ce3-11eb-8058-a3682f43f2a8.png">

[2021-03-04 19:40] vishalnarkhede commented on #623
@BrianLi101 what version of `tsc` are you on?

[2021-03-04 22:37] BrianLi101 commented on #623
We were previously on `typescript` version `3.8.0`, just bumped our version to `4.2.3` and it's working now! Thank you for helping me resolve the issue!

Closing this issue now :)

[2021-03-04 22:37] #623 closed

[2021-03-09 11:26] AdityaAnand1 opened #634 "No guide for best practices"
![image](https://user-images.githubusercontent.com/13274079/110463776-59193100-80f8-11eb-8587-9a28cbd7d137.png)

Looks like it's only a table of contents. Where can I find this? Is there a better place to report this?

gz#10021

[2021-03-09 14:52] #634 closed

[2021-03-12 02:17] Fnopster opened #640 "unread_count in message.new event is including unread from other channels"
Hi,

The unread_count in message.new is the same as total_unread_count. I was expecting the number of unread count in the channel.

Is there a way to get the number of unread_count in the channel thru the events?

Example of event object from stream chat. In this scenario, there were only 4 unread messages in the channel.
[code]

Kind regards,
Mark

gz#10126

[2021-03-12 02:58] shodgetts commented on #640
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/10126'>Zendesk ticket #10126</a>:<br><br>Hi Mark

Can you please try to make use of the notification events?

To support updating the unread count in real-time, you can listen to these events:

- `notification.message_new`
- `notification.mark_read`
These two events include the fields `total_unread_count` and `unread

[2021-03-12 03:04] Fnopster commented on #640
Hi Seetha,

Thanks for the quick reply!

Unfortunately, I get the same problem with `notification.message_new` and `notification.mark_read` event.

The `unread_count` and `total_unread_count` in both events include the total unread count across all channels.

[2021-03-12 20:53] nicogelpi opened #641 "How to Querying Users - Autocomplete for custom fields?"
Hello All,
I'm trying to request to queryUsers adding an autocomplete for a custom field.
Basically what Im trying to do is filter the list of users based on a string field `company_name`
I can do this
[code]

but didn't found a way to apply a `$regex` or `$autocomplete` for `company_name`
to do something like

[code]

Any ideas?

THANKS!

gz#10166

[2021-03-12 21:26] shodgetts commented on #641
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/10166'>Zendesk ticket #10166</a>:<br><br>Hi,

Thanks for getting in touch. I am looking into this for you as soon as possible. Please let me know if you have any other questions in the meantime.

Best,
Ryan

[2021-03-12 22:43] shodgetts commented on #641
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/10166'>Zendesk ticket #10166</a>:<br><br>Hi,

Best,
Ryan

[2021-03-12 22:48] shodgetts commented on #641
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/10166'>Zendesk ticket #10166</a>:<br><br>Hi,

The previous email was a mistake, apologies. I am checking in now to see if we have the functionality to allow autocomplete when searching through custom data fields. Will be in touch as soon as possible.

Best,
Ryan

[2021-03-13 00:18] shodgetts commented on #641
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/10166'>Zendesk ticket #10166</a>:<br><br>Hi Nico,

Just heard back from another engineer on this. Searching through custom meta data with autocomplete isn't currently possible, but we are passing this info to our product team. When you have a moment, could you please let me know which organization you're with

[2021-03-15 11:59] nicogelpi commented on #641
Thanks so much, I'm with Convene

[2021-03-15 17:34] shodgetts commented on #641
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/10166'>Zendesk ticket #10166</a>:<br><br>You bet! Will pass this feedback along now. Have a good day :)

[2021-03-17 17:37] Abacaxi-Nelson opened #650 "[Help] Snapstreak ?"
Hey,

Im trying to add pseudo Snapstreak to my chat: [https://support.snapchat.com/fr-FR/a/snapstreaks](https://support.snapchat.com/fr-FR/a/snapstreaks)

The idea is to run a batch everyday, which increment a counter/chat if all members write a message/day

I check the API, i have no easy and performant way to do this (only group < 10 will be checked every day).

Do you have any internal method/A

[2021-03-17 21:41] kjr247 commented on #400
Hi @shodgetts ,

I'm currently receiving this error. I am the Admin on the current account, but I do not see a way to activate chat.

[2021-03-18 13:45] shodgetts commented on #650
Hello, Stream Customer Success here. So this feature is obviously not something that is built into the product and the information regarding who is on a "streak" with whom is not stored. However, the channel itself may have all of the data you need in order to know who is on a "streak" with who. You could compare message send dates to see if two have been sent in the last 24 hours or so. Alternati

[2021-03-18 13:45] #650 closed

[2021-03-27 05:41] kainosnoema commented on #618
FWIW we also need a way to send messages that weren't triggered by a specific user... for example to notify channel members of events related to the channel but triggered by other events in our product.

The "Campaigns" feature mentioned earlier doesn't seem appropriate for this as it's not marketing related—we're building a chat tool so the rest of the channel functionality is important, we just

[2021-03-29 17:07] wmadden opened #655 "Bug: `client.user` will never have properties removed"
The following line means that if a property is removed from a user on the server side, it will never be removed from the client's copy of the user:

https://github.com/GetStream/stream-chat-js/blob/master/src/client.ts#L1199

[code]

To be clear:

* If a property is present on `this.user`
* and a subsequent update on the backend dispatches a `'user.updated'` event with the updated representation o

[2021-03-29 17:27] shodgetts commented on #655
Agent comment from Anders Lund in <a href='https://getstream.zendesk.com/agent/tickets/10673'>Zendesk ticket #10673</a>:<br><br>Hi there,

Thanks for the details, we'll take a look into this just as soon as we're able

[2021-03-30 10:09] shodgetts commented on #652
Agent comment from Vishal Narkhede in <a href='https://getstream.zendesk.com/agent/tickets/10622'>Zendesk ticket #10622</a>:<br><br>Hey Matt,

[2021-03-30 10:12] shodgetts commented on #652
Agent comment from Vishal Narkhede in <a href='https://getstream.zendesk.com/agent/tickets/10622'>Zendesk ticket #10622</a>:<br><br>Hey Matt,

Pardon me for my previous email. One of our backend engineers will get back to you soon.

Thanks,
Vishal

[2021-04-01 12:08] vishalnarkhede commented on #640
Hey @Fnopster you should use `channel.countUnread()`, to get the latest unread count, after receiving the message

[2021-04-01 12:12] szmitas opened #657 "Events channel.muted and channel.unmuted are not being emitted"
Hello.

I'd like to perform some actions on events channel.muted and channel.unmuted, but they are not being emitted. There is no problem with hidden/visible - everything works as expected.

I belive I'm doing everything ok, because if I change channel's mute status I'll recieve **notification.channel_mutes_updated** event with correct data, but no channel.muted nor channel.unmuted. If I change ch

[2021-04-01 16:16] shodgetts commented on #652
Agent comment from ferhat elmas in <a href='https://getstream.zendesk.com/agent/tickets/10622'>Zendesk ticket #10622</a>:<br><br>Hey Matt,

Your guess is correct. User must be offline. Otherwise, we won't send the notification.
This behavior can't be changed for usual flow for v1 of push.
However, you can force sending via check push endpoint with message id (this is the same endpoint used in CLI

[2021-04-06 03:37] builtbyproxy commented on #642
Has there been any update on this?

We may have to remove this library from our product if this isn't addressed soon. Deactivating the user on our server should be enough to solve the problem, yet the users can still receive messages.

[2021-04-08 20:59] jamesholcomb commented on #618
+1 for request this as well...and agree with the assertion by @kainosnoema that Campaigns would not be an appropriate solution.

[2021-04-09 03:10] thedang opened #659 "Cannot pin message"
I had just test on your demo, feature pin message.

https://getstream.io/chat/demos/team/

First time, i pinned a message success, but when i switched another channel or reload page, then pin message lost.

[2021-04-09 04:01] shodgetts commented on #659
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/10975'>Zendesk ticket #10975</a>:<br><br>Hi

Thanks for reaching out to us.
We will check this and come back to you soon.

Cheers
Stream Team

[2021-04-10 13:13] dilizarov opened #660 "Bug: notification.message_new event not triggering for user who sent message"
I'm sending a message on my server to a specific channel. Everyone on the channel gets notified except the user who sent the message.

For example:

On my server I do something like this:

[code]

In the browser, I am **not watching** the channel. When I do watch, I can confirm the user who **sent** the message receives the "message.new" event.

So anyways, the user who sent the message does not g

[2021-04-10 13:18] dilizarov commented on #660
The one hack I have come up for this is sending messages like this:

[code]

Obviously, the hack is less than ideal and I don't think it'll work because I don't always send messages from my server - sometimes I want to use your SDK on the client-side.

[2021-04-12 00:09] shodgetts commented on #660
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/11014'>Zendesk ticket #11014</a>:<br><br>Hi

Thanks for reaching out to us.
We will check this and come back to you soon.

Cheers
Stream Team

[2021-04-12 14:42] vishalnarkhede commented on #655
Hey @wmadden thanks for bringing this up. We will handle this soon :)

[2021-04-12 14:46] vishalnarkhede commented on #640
@Fnopster do you still need any more here?

[2021-04-12 14:46] #640 closed

[2021-04-12 14:48] vishalnarkhede commented on #657
@szmitas `channel.muted` event is only received by clients from the user that marked the channel as muted. Could you please confirm, if you are only expecting this event for the same user who marked channel as muted?

[2021-04-12 20:10] vishalnarkhede commented on #642
@builtbyproxy this task is in progress right now. Will let you know once it is done!!

[2021-04-12 22:20] builtbyproxy commented on #642
Thank you @vishalnarkhede!! Do you have a rough ETA I can work around please?

[2021-04-13 10:46] lukasz-modento commented on #657
Let me explain it more precisely:

User A and B have a common channel.

1. When user A sends a message to B, B will receive the message.new event (same when B sends a message to A).
2. When user A hides the channel, user A will receive the channel.hidden event (B won't).
3. When user A mutes the channel neither A nor B will recieve the channel.muted event (same when B mutes the channel). However,

[2021-04-15 07:46] szmitas commented on #657
Let me explain it more precisely:

User A and B have a common channel.

1. When user A sends a message to B, B will receive the message.new event (same when B sends a message to A).
2. When user A hides the channel, user A will receive the channel.hidden event (B won't).
3. When user A mutes the channel neither A nor B will recieve the channel.muted event (same when B mutes the channel). However,

[2021-04-19 07:28] cjmconie opened #663 "Push notifications are not sent to mentioned users"
## Issue

Push notifications are not being sent to mentioned users.

## Code

The simple server-side test function below sends a message and mentions user `rnMXiqQweWPvWhFLKGMfXbvJRw62`. I would expect user `rnMXiqQweWPvWhFLKGMfXbvJRw62` to receive a push notification.

[code]

Response

200 OK

[code]

### Testing

Note that I have tested push notifications using the CLI with the command below. T

[2021-04-19 08:52] SeniYG commented on #663
Hi there,

Thanks for reaching out.
Can I ask if your admin user `rnMXiqQweWPvWhFLKGMfXbvJRw62` is a member of this channel?
According to the [API push delivery logic](https://getstream.io/chat/docs/javascript/push_introduction/#push-delivery-logic), only channel members can receive push messages.
Best,

[2021-04-19 12:30] emeka100 opened #665 "Error: tokens can only be created server-side using the API Secret"
I'm running an api server using nextjs api routes, which is basically a backend server: https://nextjs.org/docs/api-routes/introduction

However, I'm getting this error when initiating client.createToken()
Error: tokens can only be created server-side using the API Secret

Here's my code below :

`
import { StreamChat } from 'stream-chat'

const client = StreamChat.getInstance(process.env.STREAM_K

[2021-04-19 12:44] shodgetts commented on #665
This should be working fine. Are you sure that your .env file is being accessed properly? Can you try to console.log your app key and secret and make sure they're being found. If so, let me know, and we'll dig further.

[2021-04-19 13:12] emeka100 commented on #665
Yes, the key and secret are called correctly. I found the issue and a temporary workaround.

The error is being thrown because the client.secret is undefined in the instance, even though it's passed with the getInstance() function.

Here's how I'm handling it:

[code]

[2021-04-19 13:30] ferhatelmas commented on #665
Next.js doesn't have process.env as standard, that might be the issue. We should handle it better /cc @mahboubii @vishalnarkhede

Docs:

[2021-04-19 14:07] shodgetts commented on #663
Hello @cjmconie, It does looks like @SeniYG has probably got this right, but the Issue section of this Github repo is reserved only for bug reports and feature improvements and suggestions. It looks like what you’re looking for is technical support using the product. For this support, we would suggest emailing our Customer Success and Engineer support team at [support@getstream.io](support@getstre

[2021-04-19 14:07] #663 closed

[2021-04-19 14:24] cjmconie commented on #663
Thank you, yes that is indeed the case. My custom channel type is based off of the 'livestream' channel type which allows users to send messages without being channel members.

[2021-04-19 18:44] jackherizsmith opened #666 "`user.presence.changed` event not firing"
Can anyone confirm this, or explain what I should be doing differently.

[code]

So everything is logging as it should, I just can't get updates when members have logged in or out. Does anyone else have this issue, or what I might be missing here?

(if there are any glaring code errors here, I've quickly pulled bits together that are either in different files are have different names, but this is

[2021-04-19 19:10] shodgetts commented on #666
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/11233'>Zendesk ticket #11233</a>:<br><br>Hey, thanks for getting in touch. I am looking into this for you now and will get back to you shortly. Please let me know if you have any other questions in the meantime.

[2021-04-19 20:27] shodgetts commented on #666
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/11233'>Zendesk ticket #11233</a>:<br><br>Hello and thanks for submitting an issue to our GithHub repository. We’re glad you’re getting hands on with the product. The Issue section of this Github repo is now reserved only for bug reports and feature improvements and suggestions. It looks like what you’re looki

[2021-04-20 06:59] mahboubii commented on #665
@emeka100 Do you happen to call `StreamChat.getInstance` in any other part of your application without the secret? This is a common mistake since the `getInstance` function creates a new client only the first time it's called in your runtime, and subsequent calls with different parameters do not change the client options.

[2021-04-20 07:00] mahboubii commented on #665
In this SDK the `process.env` is only used for testing env, we shouldn't have any issue supporting Next.js

[2021-04-20 08:39] #666 closed

[2021-04-23 16:43] kyriacos commented on #665
i am getting exactly the same issue when used with the api routes. Tried commenting out all the client-side code just in case something affects it but it seems that the instance still has an undefined secret. Even if i hard code the value. Using the `next-based` example.

Also if getInstance only creates 1 instance for all the runtime, then if we have an instance initialized inside an `api/route`

[2021-04-23 16:59] kyriacos commented on #665
Replying back with an answer to the problem. Just use `new StreamChat()` to avoid the issue. Worked fine for me. If running in a serverless environment it wouldn't be a problem since each function would load up an instance as far as i am aware.

Hope this helps @emeka100

[2021-04-23 18:17] mahboubii commented on #665
@kyriacos You are right. Alternatively, you can simply use `new StreamChat` if you want to have different instances with different key/secrets

[2021-04-27 00:36] pjpscriv opened #669 "Typing broken for TypeScript 4.0.2"
I'm getting this same error as issue #623 in an Angular 10.2.3 project using TypeScript 4.0.2.

[code]

![image](https://user-images.githubusercontent.com/16329923/116167190-d30e8380-a753-11eb-86e0-a3844b2fe9d9.png)

Upgrading my whole project to the most recent typescript may be breaking, is it possible to do it just for this package?

gz#11397

[2021-04-27 03:23] pjpscriv commented on #669
Some approaches I've tried:
- Played around with the `"resolutions"` field in `package.json` to no avail. Adding `stream-chat/**/typescript: "4.2.3"` had no effect.
- Upgraded the global typescript version to 4.2.3 but this didn't work because the Angular 10.2.3 compiler has hard limit of typescript 4.0.7.

I currently have it working by using stream-chat @ `2.11.2`, but if there are any better so

[2021-04-29 10:57] shodgetts commented on #669
Agent comment from Amin Mahboubi in <a href='https://getstream.zendesk.com/agent/tickets/11397'>Zendesk ticket #11397</a>:<br><br>Have you tried adding `skipLibCheck: true` to your typescript config file?<br><p><em><small>°°°</small></em></p>

[2021-05-03 23:44] pjpscriv commented on #669
@shodgetts yep it's set to true.

I'll close this issue as I have a workaround for now and it looks like the real solution is upgrading Angular + TypeScript to their latest versions.

[2021-05-03 23:44] #669 closed

[2021-05-07 08:23] builtbyproxy commented on #642
How is this going?

[2021-05-09 16:42] Traceitco opened #675 "Does stream-chat workin angular 11 & typescript 4?"
Hello, I am using ionic 5 with angular 11. I keep getting errors whenever I try and run the project. Below is just a small sample of the erros.

import { StreamChat } from 'stream-chat';

[code]

gz#11692

[2021-05-09 19:12] vishalnarkhede commented on #675
@Traceitco can you show me some of your code around client initialization?

[2021-05-09 19:23] Traceitco commented on #675
I upgraded from typescript 4.0.2 to 4.1.5 and it seemed to fix the issue.

[code]

[2021-05-10 13:03] AnatolyRugalev commented on #642
Hey @builtbyproxy

We addressed this issue in our recent update. After you deactivate or delete a user, their WebSocket connections stop receiving any events.

[2021-05-17 11:28] shodgetts commented on #675
Agent comment from Vishal Narkhede in <a href='https://getstream.zendesk.com/agent/tickets/11692'>Zendesk ticket #11692</a>:<br><br>Hey,

Thanks for the update. We will take a note of this internally.
Closing this ticket for now.

Thanks,
Vishal
<br><p><em><small>°°°</small></em></p>

[2021-05-19 08:00] #675 closed

[2021-05-19 08:01] vishalnarkhede commented on #642
@builtbyproxy it was fixed on backend. So upgrade is not necessary for stream-chat-js

[2021-05-19 23:33] builtbyproxy commented on #642
Oh phenomenal! Thank you very much @vishalnarkhede for all the help

[2021-05-19 23:33] #642 closed

[2021-05-19 23:41] dilizarov opened #680 "queryChannels type doesn't accept joined or invite, but documentation says it should."
https://getstream.io/chat/docs/react/query_channels/

The "Channel Queryable Built-In Fields" shows:

invite: string, must be one of these values: (pending, accepted, rejected)
joined | boolean

in the table

When I do the following, I get type errors:

[code]

"Argument of type '{ type: string; members: { $in: string[]; }; joined: boolean; }' is not assignable to parameter of type 'ChannelFilters

[2021-05-20 00:22] shodgetts commented on #680
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/11983'>Zendesk ticket #11983</a>:<br><br>Hi

Thanks for reaching out to us.
Can you please let us know the value of the `identifier` from  $in: [identifier]?

Wanted to check if it aligns with LiteralStringForUnion
`export type LiteralStringForUnion = string & {};`

Cheers
Seetha
<br><p><em><small>°°°</small></em></p

[2021-05-20 16:28] dilizarov commented on #680
`identifier` is a `string`

[2021-05-21 22:44] dilizarov opened #682 "Feature Request: Improved EventHandler typings"
Currently the Event type is this:

[code]

Every single property is optional. While I understand this is the simplest way to implement this type, it doesn't really help developers all that much.

The problem is every different event has different event properties and this makes it cumbersome to develop features without triggering events and reverse-engineering what the actual event body looks like

[2021-05-21 22:46] peterferguson commented on #618
I am also getting this problem.

I am trying to build a chat bot where the first message has type `ephemeral` to allow the user to cancel the action. Similar to the UX of the `/giphy` command, except there will be multiple ephemeral stages.

Is there a way I can this without having access to the type prop on the message?

[2021-05-24 11:51] muhammadirfanu opened #684 "Getting issue with queryChannel"
I am trying to query channels based on user '1'. Here is the error I am getting:

`{"code":4,"message":"QueryChannels failed with error: "expected number for field "sort[0].direction" but got number `0`"","StatusCode":400,"duration":"0.00ms","more_info":"https://getstream.io/chat/docs/api_errors_response"}`

This is the code (pasted from getstream tutorial section).

[code]
The payload is followin

[2021-05-24 13:02] shodgetts commented on #684
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/12066'>Zendesk ticket #12066</a>:<br><br>Hi, thanks for reaching out. Did you also open a support ticket related to this issue?
<br><p><em><small>°°°</small></em></p>

[2021-05-25 04:43] shodgetts commented on #684
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/12066'>Zendesk ticket #12066</a>:<br><br>Hi

Please change the sort field like this -

`"sort": [{"field":"name", "direction": -1}],`

Your query would be like this -

    {
    "filter_conditions":{"members":{"$in":["1"]}},
    "sort": [{"field":"last_message_at", "direction": -1}],
    "state":true,"watch":true,"pr

[2021-05-25 11:09] muhammadirfanu commented on #684
No success, still having the same issue.

[2021-05-25 12:28] shodgetts commented on #682
Agent comment from Vishal Narkhede in <a href='https://getstream.zendesk.com/agent/tickets/12041'>Zendesk ticket #12041</a>:<br><br>Hey,

This task is already in progress. We should be able to publish it by next week approximately. Please keep an eye for following PR and release after this.

https://github.com/GetStream/stream-chat-js/pull/672

I am going to close this ticket for now. Please reope

[2021-05-26 07:07] shodgetts commented on #684
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/12066'>Zendesk ticket #12066</a>:<br><br>Hi

Sure, we can look at this for you, would you mind sending your code snippet along with your API-Key to support@getstream.io Thanks.

Cheers
Seetha
<br><p><em><small>°°°</small></em></p>

[2021-05-27 02:41] ryanhanwu opened #687 "Typescript Error at connection.d.ts"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `stream-chat@3.10.0` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

Original error
[code]

[2021-05-27 03:07] shodgetts commented on #687
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/12172'>Zendesk ticket #12172</a>:<br><br>Hi

Thanks for reaching out to us.
We will check this and come back to you soon.

Cheers
Seetha
<br><p><em><small>°°°</small></em></p>

[2021-05-28 14:35] emeka100 opened #689 "Error: Both secret and user tokens are not set"
I figure this is likely not an issue, but I'm struggling to find answers or the root cause. It errors about 50% of the time, and sometimes it works perfectly fine:

Error: Both secret and user tokens are not set. Either client.connectUser wasn't called or client.disconnect was called

My code:

`try {
        const userId = req.query.userId

        const client = await StreamChat.getInstance(proc

[2021-06-01 10:46] tomaszpaczesny opened #694 "Chrome timers throttling causing missed events when tab in background for longer time"
We are experiencing an issue, for quite some time already, where when our application (using GetStream chat) is in background tab in Chrome for a longer time (10-15 min at least) connection starts to go off and on (`online` state) and during that time, if a new event comes in (e.g. new message), it is usually not delivered to our callback. When tab is moved to foreground, connection restores corre

[2021-06-02 02:28] Martin-J-Lee opened #695 "verifyWebhook failed with express request"
We are trying to consume the chat events via the webhook.
After monitoring the logs, We have discovered that `verifyWebhook` failed on `message.new` event.
cid of a sample message is `Comments:5ba71ce5-5015-4e7d-9568-2123fe2ed058`

We are using express and `JSON.stringify(req.body)` to parse body to string before calling `verifyWebhook`.
Other event type seems working correctly, can confirm - `cha

[2021-06-02 02:51] shodgetts commented on #695
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/12378'>Zendesk ticket #12378</a>:<br><br>Hi

Thanks for reaching out to us.
Can you please try calling `verifyWebhook` with the raw body?

Cheers
Seetha
<br><p><em><small>°°°</small></em></p>

[2021-06-02 03:13] Martin-J-Lee commented on #695
It won't work due to the following error
[code]
the method signature is
 `verifyWebhook(requestBody: string, xSignature: string)`

[2021-06-02 04:01] Martin-J-Lee commented on #695
similar issue with
[code]

[2021-06-02 07:47] Martin-J-Lee opened #696 "Webhook event type defs"
We are building the chat event consumer.

It would be nice if event definition is somewhere in this module. The following is what I've worked out based on the resource I have so far.
[code]

gz#12383

[2021-06-04 21:29] #684 closed

[2021-06-04 21:29] shodgetts commented on #684
Closing this support request, please email support@getstream.io to continue the conversation. We prefer to reserve Github issues to feature requests and bugs.
-Stephen

[2021-06-05 18:12] vishalnarkhede commented on #694
@tomaszpaczesny we are working on patch to fix this issue. It should be released early next week!!

[2021-06-07 06:38] Martin-J-Lee commented on #695
any update on this? It appears to be there are more types that are failing on the `verifyWebhook`.
I've also tried to call with body buffer or string, not parsing it from the json object, which fails every verification, not only the type I have mentioned above.

[2021-06-08 14:44] #694 closed

[2021-06-09 12:32] vishalnarkhede commented on #694
This issue has been fixed as part of `v3.11.0`!!

[2021-06-10 08:49] tomaszpaczesny commented on #694
Thank you!

[2021-06-14 08:58] vishalnarkhede commented on #694
@tomaszpaczesny please let us know if you see the issue fixed on your end after upgrading!!

[2021-06-15 20:51] jamesdunay opened #702 "Shadow banned users still sending push notifications"
We're working on implementing the new shadow ban moderation feature and ran into an issue where users that have been globally shadow banned, i.e. shadowed:true are still generating push notifications when they message other users.

Was wondering if there was a way to exclude them from sending push notifications, since those are handled by stream?

gz#12834

[2021-06-17 06:05] tmoran-stenoa opened #701 "`multi_tenant_enabled` attribute missing from AppSettings type definition"
Quite a small detail, but the [AppSettings type](https://github.com/GetStream/stream-chat-js/blob/master/src/types.ts#L1434) does not declare the boolean attribute `multi_tenant_enabled` which is used to enable/disable teams. This causes an error when using Typescript.

Obviously the workaround is to simply cast `(options as any) as AppSettings` so not a big problem!

gz#12814

[2021-06-17 21:39] shodgetts commented on #702
Agent comment from Zachery Converse in <a href='https://getstream.zendesk.com/agent/tickets/12834'>Zendesk ticket #12834</a>:<br><br>Hi James,

Thanks for reaching out about the shadow ban feature. So you would like messages from users that are shadow banned to not generate push notifications?

This can be done using the skip_push field on the message object - docs

    const message = await chann

[2021-06-18 22:11] ferhatelmas commented on #702
There is a mistake in the snippet though.

Control flags are passed separately not to conflict with custom properties.

[code]

[2021-06-21 15:25] nicebro opened #703 "client.partialUpdateMessage does not work for custom fields."
Hey guys, seems I have bug with client.partialUpdateMessage, it does not work with custom fields for me.
This is example from docs

[code]

When I do something like this
[code]
I does not update any of fields

If request looks like this with additional changes for text field It does works.
[code]

gz#12896

[2021-06-21 15:29] shodgetts commented on #703
Agent comment from Anders Lund in <a href='https://getstream.zendesk.com/agent/tickets/12896'>Zendesk ticket #12896</a>:<br><br>Hello,

Thanks for getting in touch. I'll take a look into this just as soon as I can. In the meantime, would you mind also letting me know which version of the JS SDK you're using here?
<br><p><em><small>°°°</small></em></p>

[2021-06-21 15:42] nicebro commented on #703
It's 3.11.0

[2021-06-21 15:52] shodgetts commented on #680
Agent comment from Dan Carbonell in <a href='https://getstream.zendesk.com/agent/tickets/11983'>Zendesk ticket #11983</a>:<br><br>You need to add to the `ChannelType` generic so TypeScript knows to extend the default channel object with your custom data. You can follow our TypeScript wiki for more information, https://github.com/GetStream/stream-chat-react/wiki/TypeScript-Support. You'll need to p

[2021-06-22 17:02] ferhatelmas commented on #695
You need to pass the raw body bytes to verification as received in the request.

If you do any kind of manipulation like parsing into json and then stringification, there is no guarantee, you will generate the same payload.

[2021-06-22 17:02] #695 closed

[2021-06-22 23:11] zperlo opened #704 "Multi-tenant/teams settings seem to be missing"
https://github.com/GetStream/stream-chat-js/issues/701 is one part of this.

Additionally, I was previously using `Client.Event.team` to get the team on new message events, and it is no longer in the types. What happened to these values? Do you know the last version that supported this?

gz#12945

[2021-06-22 23:28] shodgetts commented on #704
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/12945'>Zendesk ticket #12945</a>:<br><br>Hi,

Thanks for reaching out to us.
We will check this and come back to you soon.

Best,
<br><p><em><small>°°°</small></em></p>

[2021-06-23 07:45] mahboubii commented on #704
@zperlo Could you provide more details? I don't see any related changes to the type in the last few months.

[2021-06-23 14:57] mrqc opened #706 "latest stream-chat npm not compiling with angular"
I started a simple angular app: ng new chat-sample
then i added the package with: npm i stream-chat (so its the latest one)
I added an import to that package and then i did an "ng serve". So i think this is pretty straight forward. Then oh what a surprise, it s not working (we are paying for that - is nobody testing such basic approaches?):

    Error: src/app/chat/chat.component.ts:2:35 - error T

[2021-06-23 15:29] shodgetts commented on #706
Agent comment from Anders Lund in <a href='https://getstream.zendesk.com/agent/tickets/12966'>Zendesk ticket #12966</a>:<br><br>Hi there,

Thanks for getting in touch. This error:

    Error: src/app/chat/chat.component.ts:2:35 - error TS2307: Cannot find module '../stream-chat-service' or its corresponding type declarations.

Is commonly thrown when the file path is incorrect. Can you please doub

[2021-06-23 16:36] ferhatelmas commented on #703
I tested this and it works as expected. Could you share the whole snippet you are testing?

[2021-06-23 16:37] zperlo commented on #704
@mahboubii Happy to, sorry I didn't have them in my first message. My team is upgrading chat in our app, as we are petty far behind. We were on version 2.1.2 and upgraded to 3.11.0. I had looked through the changelog, and I don't see any references to changes of these fields, which is why I was confused, given that we use them. Most of the changes seemed like they wouldn't affect us negatively, bu

[2021-06-23 16:59] mrqc commented on #706
Thanks for the reply. I remove that. it is the same:

Build at: 2021-06-23T16:58:44.129Z - Hash: d55a1a7a0a9b478afba5 - Time: 8349ms

Error: node_modules/stream-chat/dist/types/types.d.ts:306:37 - error TS1005: '>' expected.

306     i18n?: RequireAtLeastOne<Record<`${TranslationLanguages}_text`, string>> & {
[code]
node_modules/stream-chat/dist/types/types.d.ts:306:78 - error TS1109: Expression e

[2021-06-23 17:37] shodgetts commented on #706
Agent comment from Anders Lund in <a href='https://getstream.zendesk.com/agent/tickets/12966'>Zendesk ticket #12966</a>:<br><br>Got it, in that case I'd like to dig into this a little deeper. The Issue section of this Github repo is now reserved only for bug reports and feature improvements and suggestions. From my perspective, this seems to be more technical support. Would you mind emailing suppo

[2021-06-24 08:40] nicebro commented on #703
@ferhatelmas
[code]

Color should be blue but I'm getting red

[2021-06-24 14:03] Chochek opened #708 "The getRateLimits method returns a 500 error every time"
When I try calling `client.getRateLimits()` I get a 500 error

[code]

The same thing happens when I try to limit it to specific endpoints or platforms

gz#13008

[2021-06-24 14:17] shodgetts commented on #708
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/13008'>Zendesk ticket #13008</a>:<br><br>Hi,

Thanks for reaching out. After some experimenting, I noticed I had the same error when I instantiated the client before calling this endpoint. Can you check that this is the case in your code? The follow worked just fine as a server side function and without conne

[2021-06-24 14:57] yaziine commented on #657
@szmitas thank you for noticing that.

The team is currently working on a fix. Will keep you updated when it will be released.

[2021-06-25 07:11] Chochek commented on #708
Hi, thanks for the reply but I'm not sure I understand. You're saying I can't call the rate limits endpoint after I instantiate the client?

I should have mentioned that I am using JS (React) and in the docs it says that I need to do this to connect to Stream Chat

[code]

Which I am doing, and after that I try calling `chatClient.getRateLimits()` and get the above mentioned error.
If I try callin

[2021-06-25 18:15] shodgetts commented on #702
Agent comment from Zachery Converse in <a href='https://getstream.zendesk.com/agent/tickets/12834'>Zendesk ticket #12834</a>:<br><br>Hello James,

I'll go ahead and close this ticket, but feel free to open it back up by responding with any further questions or comments.

Have a beautiful day!

Cheers,
-Zachery
 Getstream.io
<br><p><em><small>°°°</small></em></p>

[2021-06-26 04:25] StronkMan opened #720 "addMembers does not include any user properties"
**Describe the bug**
In demo, addMembers does not include the user properties but the `id`

**Dev environment info (please complete/provide the following information):**

- Package version (stream-chat-react-native/stream-chat-expo): 3.6.0
- react-native or expo version: 0.64.2
- Device/Emulator (android/ios) and OS version: iphonesimulator 14.5

**To Reproduce**
Steps to reproduce the behavior:

[2021-06-27 13:55] smaccoun opened #709 "Incorrect documentation for best practices on disconnectUser???"
The documentation for best practices on disconnectUser is extremely confusing to me. Maybe I'm missing something

In the example of what *not* to do, it says the following

[code]

However, it is in this example that `useEffect` does *not* change with `currentUser`, whereas for the example of what to do it does. Is this backward?

See this

![Screen Shot 2021-06-27 at 9 54 25 AM](https://user-imag

[2021-06-28 02:36] shodgetts commented on #709
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/13051'>Zendesk ticket #13051</a>:<br><br>Hi

Thanks for reaching out to us.
We will check this and get back to you soon.

Best,
<br><p><em><small>°°°</small></em></p>

[2021-06-28 17:21] zperlo commented on #704
Any further info on this @mahboubii ?

[2021-06-29 08:25] fearless23 opened #710 "stream-chat node client.updateChannels method"
I can see there is batch channel update method for JAVA
https://getstream.io/chat/docs/java/batch_channel_update/

Is there same feature for stream-chat Node 3.11.0

gz#13097

[2021-06-29 09:42] ferhatelmas commented on #703
@nicebro checking it further, thanks for the snippet /cc @yaziine

[2021-06-29 09:58] SeniYG commented on #710
Hi,

Thanks for reaching out.
Unfortunately, this endpoint you mentioned isn't available yet. Actually, this docs section shouldn't be accessible to the public.
I will report this issue to our documentation team so it can be fixed. Sorry for the inconvenience.

Best,

[2021-06-29 15:56] yaziine commented on #703
@nicebro thank you for reporting this, it was a bug on our side actually.

It has been fixed and you can expect it to be released by next week.

Closing this, don't hesitate to reopen if needed.

[2021-06-29 15:56] #703 closed

[2021-06-29 15:58] #702 closed

[2021-07-01 07:40] #701 closed

[2021-07-01 15:11] danychi opened #711 "[multi-tenant] creating a channel returns an error when it already exists for another team"
There is a problem when creating a channel when multitenancy is enabled.

Imagine you have team A that has a channel with the name "general", now if team B decides to create a channel with the same name, this returns the following error:

[code]

The call is being made using the `client.channel`

[code]

gz#13189

[2021-07-01 15:28] shodgetts commented on #711
Agent comment from Anders Lund in <a href='https://getstream.zendesk.com/agent/tickets/13189'>Zendesk ticket #13189</a>:<br><br>Hi there,

Thanks for getting in touch. This seems like expected behavior from my understanding. As per the docs:

    Channel teams allows you to ensure proper permission checking for a multi tenant application. Keep in mind that you will still need to enforce that chann

[2021-07-01 18:48] shodgetts commented on #708
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/13008'>Zendesk ticket #13008</a>:<br><br>Hi,

Thanks for your patience. I noticed this method works when using server side credentials (i.e. key and secret) as shown above. Checking in with the team now to learn more. Can you please tell me a bit more about your use case here?

Best,
Ryan
<br><p><em><small>°°

[2021-07-01 19:05] shodgetts commented on #708
Agent comment from Ryan Kavanaugh in <a href='https://getstream.zendesk.com/agent/tickets/13008'>Zendesk ticket #13008</a>:<br><br>Hi,

To follow up here, getRateLimits() is only going to be available server-side at the moment. Please let me know if you have any questions here. I've provided a code sample of how to do this below for convenience.

    const chatClient = new StreamChat.getInstance(a

[2021-07-08 01:00] gilbertl commented on #669
What's the workaround?

[2021-07-08 01:11] gilbertl commented on #669
I found a work around. Just patched my local module with

[code]

Apologies in advance for not knowing what the proper fix is

[2021-07-09 04:08] jorgeAM opened #714 "verifyWebhook always return false"
Hello I'm using nestjs with fastify and I have to check webhook so I'm using [rawBody](https://github.com/Eomm/fastify-raw-body#readme)

in main.ts inside bootstrap function
<img width="765" alt="Captura de Pantalla 2021-07-08 a la(s) 23 01 35" src="https://user-images.githubusercontent.com/19254966/125021520-73c8cb80-e040-11eb-9d4d-6311db99cb44.png">

In controller I have access to rawBody

<img

[2021-07-09 04:21] shodgetts commented on #714
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/13433'>Zendesk ticket #13433</a>:<br><br>Hi

Thanks for reaching out to us.
We will check this and come back to you soon.

Best,
<br><p><em><small>°°°</small></em></p>

[2021-07-09 11:56] ferhatelmas commented on #714
What is the app id and api key you initialize your client? (safe to share here)?

[2021-07-09 14:16] jorgeAM commented on #714
My App ID is `105935`
My key is `t7u7wdbxbgwy`

this is how initialize client

<img width="804" alt="Captura de Pantalla 2021-07-09 a la(s) 09 14 57" src="https://user-images.githubusercontent.com/19254966/125091580-24ad8580-e096-11eb-9f65-2bca60c009b4.png">

[2021-07-12 15:38] jorgeAM commented on #714
is there any update on this issue?

[2021-07-12 16:24] ferhatelmas commented on #714
@jorgeAM I wanted to see how many keys you have in your app. That's why I had asked about api key.

Problem is documented here: https://github.com/Eomm/fastify-raw-body#raw-body-as-buffer

when `encoding` is false, it parses the body as [almost json](https://github.com/Eomm/fastify-raw-body/blob/eeb86a8b6ebccfaf8480d64a2dfd4ec412b9a95b/plugin.js#L22) but it changes the underlying bytes. For compar

[2021-07-12 17:23] miagilepner commented on #643
Hi @chenghw, @SSTPIERRE2. I'm sorry this took so long to get fixed. The invisible feature is now working properly. You can use the `upsertUser` method in order to modify the invisibility status of the client: https://getstream.io/chat/docs/react/presence_format/?language=javascript#invisible. Please feel free to open another issue if this isn't working as you expect.

[2021-07-12 17:23] #643 closed

[2021-07-12 23:45] zperlo commented on #704
Seems like https://github.com/GetStream/stream-chat-js/pull/716 will fix this issue

[2021-07-13 08:43] vishalnarkhede commented on #704
This has been merged and will be released today

[2021-07-13 08:43] #704 closed

[2021-07-14 15:27] nhannah commented on #687
You tsconfig need's to include `"lib": ["DOM"]`, this `Event` type comes from the DOM types.

[2021-07-14 15:27] #687 closed

[2021-07-14 15:28] #689 closed

[2021-07-14 15:34] nhannah commented on #709
Hi I am currently cleaning up issues, looks like the docs on this have [since been fixed](https://getstream.io/chat/docs/javascript/instantiating_the_client/?language=javascript&q=This%20will%20keep%20on%20creating%20new%20websocket%20connection).

[2021-07-14 15:34] #709 closed

[2021-07-14 15:36] #711 closed

[2021-07-14 15:38] #708 closed

[2021-07-14 16:20] nhannah commented on #680
Also please note our internal membership system uses a different set of keys:

[code]

[2021-07-14 16:20] #680 closed

[2021-07-14 16:43] #665 closed

[2021-07-14 17:10] #641 closed

[2021-07-14 18:06] shodgetts commented on #362
Hello, we've had considerable work done on our permissions system since this ticket was submitted. Can you let us know if you're still experiencing issues here? If so, support@getstream.io would love to hear from you!
-Big Steve

[2021-07-14 18:06] #362 closed

[2021-07-14 19:19] nhannah commented on #660
This is fixed now for members in a channel, if you are a member you will get the event even if you sent the message.

[2021-07-14 19:19] #660 closed

[2021-07-14 19:21] nhannah commented on #652
This issue appears stale and the V2 docs for push are now available.

[2021-07-14 19:21] #652 closed

[2021-07-14 19:25] #710 closed

[2021-07-14 19:30] #706 closed

[2021-07-14 19:33] nhannah commented on #706
Can you update your TypeScript version this is likely the issue based on the error you are receiving.

[2021-07-14 19:37] nhannah commented on #696
Duplicate of #682

[2021-07-14 19:37] #696 closed

[2021-07-14 19:37] #574 closed

[2021-07-14 19:38] #617 closed

[2021-07-14 19:41] #554 closed

[2021-07-14 19:42] nhannah commented on #100
This issue is stale and there are changes to react-native to handle reconnect now. Please create a new issue if this arises again.

[2021-07-14 19:42] #100 closed

[2021-07-14 20:03] nhannah commented on #124
`client.sendFile` can be used to upload an image. For React Native as the initial question seems to ask you should look at the variety of libraries dealing with image access, our implementation can be found here: https://github.com/GetStream/stream-chat-react-native/blob/develop/package/native-package/src/index.js .

[2021-07-14 20:03] #124 closed

[2021-07-14 21:26] shodgetts commented on #146
Hello, unread counts are returned in the response when connecting to the API using

`await chatClient.connectUser({ id }, token);`

Hope this helps!

[2021-07-14 21:26] #146 closed

[2021-07-15 22:28] statico opened #718 "unread_messages count missing in type"
Re: https://github.com/GetStream/stream-chat-js/blob/master/src/channel_state.ts#L48

This is missing `unread_messages: number`, so after calling `client.queryChannels()`, accessing `channels[...].state.read[...].unread_messages` causes a type error.

See also: https://github.com/GetStream/stream-chat-js/issues/336

gz#13624

[2021-07-15 23:23] shodgetts commented on #718
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/13624'>Zendesk ticket #13624</a>:<br><br>Hi

Thanks for reaching out to us.
We will check this and come back to you soon.

Best,
<br><p><em><small>°°°</small></em></p>

[2021-07-16 11:53] ferhatelmas commented on #714
I will close this ticket. If anything else is need, please reply and let us know.

[2021-07-16 11:53] #714 closed

[2021-07-18 17:30] elemanhillary opened #719 "UpSertUser"
can we `upsertUser` with image?

for-example:
[code]

gz#13665

[2021-07-19 01:18] shodgetts commented on #719
Agent comment from Seetha in <a href='https://getstream.zendesk.com/agent/tickets/13665'>Zendesk ticket #13665</a>:<br><br>Hi

Thanks for reaching out to us.
Yes, possible. If you are seeing any issues, we would suggest emailing our Customer Success and Engineer support team with your application key or ID and we’ll be able to help you out

We would request you to direct any such technical questio

[2021-07-20 14:09] SeniYG commented on #720
Hi,

Thanks for reaching out.
We haven't been able to reproduce this issue unfortunately. In the `channel.state.members` array, each member object contains the `banned` status, `channel_role`, `created_at`, few other fields **and** the user object attached to the member. This user object should contain all the properties related to the user.
This is the way the API is currently implemented, are yo

[2021-07-20 14:09] shodgetts commented on #720
Agent comment from Séni Gueye in <a href='https://getstream.zendesk.com/agent/tickets/13722'>Zendesk ticket #13722</a>:<br><br>Hi,

Thanks for reaching out.
Each member object in a channel.state.members should have One of our engineers will take a look
<br><p><em><small>°°°</small></em></p>

[2021-07-20 15:53] StronkMan commented on #720
Hi,

Since we are not directly integrating with the js-lib but the rn-components, we can provide you a simple demo here, it was freshly cloned and using the latest packages as of today.  Please let me know if more details need to be provided.

https://user-images.githubusercontent.com/27749440/126355734-b126769d-f2ac-4716-944f-f13ae754fc4f.mp4

[2021-07-24 22:38] StronkMan commented on #720
@SeniYG Updated my example above. Hopefully, it can help you resolve this issue swiftly.

[2021-07-26 21:34] PWKad commented on #618
+1 for this as well.

Also there is no info on how to construct an ephemeral message so while it succeeds to update the type in the presend webhook it never shows up for a user for me  :/

[2021-07-28 10:40] vishalnarkhede commented on #530
@amardeepranu could you please try upgrading to latest `stream-chat` version?

[2021-07-28 16:48] #655 closed

[2021-07-29 07:42] yaziine commented on #657
@szmitas, finally, it appears that the current behaviour is what we want but the documentation was a bit out of date.

- `channel.muted` event is and should be only sent to webhooks
- `notification.channel_mutes_updated` event is sent to the user who mutes a channel

Concretely, given your example, when user A mutes a channel, user B doesn't have to know that A did that.

Closing this for now, fee

[2021-07-29 07:42] #657 closed

[2021-07-31 19:39] heromiyo opened #738 "Usage with nestjs fails with type errors"
import {StreamChat} from "stream-chat";

 async getStreamChatToken(user: UserPayload) {
    const serverClient = StreamChat.getInstance(this.configService.get(ConfigKey.STREAM_CHAT_API_KEY),
        this.configService.get(ConfigKey.STREAM_CHAT_SECRET_KEY));
    let token: string = "";
    if (user.user_entity != null) {
      token =  await serverClient.createToken(user.uid)
    }
    return {

[2021-08-01 14:33] jehartzog opened #739 "Stream API excludes system messages from unread_count, client code includes them"
## Bug

Stream API and client code have different business logic for calculating `unread_count` when there are system messages.

## Details

We recently observed inconsistent unread pips which we isolated down to system messages. If a fresh system message came in during a session, it was handled by client event handling code, which includes system messages in `unread_count`. But in a new session,

[2021-08-03 23:19] #719 closed

[2021-08-11 15:57] alinenko opened #749 "channel.state.unreadCount always returns 0 if current user is not returned in channel.read"
### BUG
When there are more than 100 channel members and the current user is not returned in the _**channel.read**_ than **_channel.state.unreadCount_** is always 0.

### DETAILS
Seems like this [line ](https://github.com/GetStream/stream-chat-js/blob/d796ebf95a45cf833028b74fc55e274cf9a2679d/src/channel.ts#L1771) is never executed if the member is not returned in **_channel.read_**. The possible f

[2021-08-12 12:54] wildebeast commented on #749
This is a fairly large issue for us, since it's preventing us from showing when a channel has unread messages.

[2021-08-12 22:17] harikmenon opened #750 "Compile time issue with stream chat on node.js cloud functions project"
Running into the following issue and about 29 similar errors during typescript compilation

`node_modules/stream-chat/dist/types/types.d.ts:310:37 - error TS1005: '>' expected.

310     i18n?: RequireAtLeastOne<Record<`${TranslationLanguages}_text`, string>> & {
                                        ~~~`

    "node": "14"
  },
  "main": "lib/index.js",
  "dependencies": {
    "@google-cloud/fire

[2021-08-12 22:52] harikmenon commented on #750
upgrade typescript and this works now

[2021-08-12 22:52] #750 closed

[2021-08-20 06:30] jsruvi opened #756 "Get unread messages count including messages in threads"
Getstream allows to send messages in thread

https://getstream.io/chat/demos/team/

![Screenshot_1](https://user-images.githubusercontent.com/8143049/130189620-91c6c2c3-96b2-4d0b-b884-5a55c8458d16.png)

I want to show 'unread messages indicator' even when there are some unread messages in thread

For regular messages I can do something like this
https://getstream.io/chat/docs/react/unread/

[code]

[2021-08-24 13:45] Lucasdsk opened #759 "Error while sending a message"
I'm trying to send different messages to multiple channels, but to some channels, I'm getting the following error:

[code]

Does someone have any clue on what might be happening or how can I fix that?

[2021-08-24 14:05] shodgetts commented on #759
Hello and thanks for submitting an issue to our GitHub repository. We’re glad you’re getting hands on with the product. The Issue section of this Github repo is now reserved only for bug reports and feature improvements and suggestions. It looks like what you’re looking for is technical support using the product. For this support, we would suggest emailing our Customer Success and Engineer support

[2021-09-10 07:35] gio-shara-code opened #766 "TypeError: 'image' property is missing on client.user object"
I am getting client instance as following:

`const client = StreamChat.getInstance('key')`

I want to grab `client.user.image` which suppose to be there (Because I logged out the user object in the console and it was there as expected) but the type is missing the property 'image' on user object.

**User Object in the console**
![user object console logged](https://user-images.githubusercontent.com

[2021-09-13 13:59] ericlifs opened #767 "Retry user connection to chat"
Hi everyone, how are you?

I'm having an issue with my users' connection to the chat and I want to see if there is a way of fixing it. The thing is that I'm showing the users an Error message component to the users if the `client.connectUser` fails. But I wanted to implement a "Retry" button  in that component in order to let the users re-connect to the chat.

Is there a way of retry the users con

[2021-09-14 17:20] vishalnarkhede commented on #766
Hey @gio-shara-code `image` is a custom property on user object. So it needs to be explicitely set as part of User generic type. Please check this sample app as an example -  https://github.com/GetStream/stream-chat-react-native/blob/develop/examples/SampleApp/src/types.ts#L15

Here is the documentation for typescript implementation for this js client - https://github.com/GetStream/stream-chat-js#

[2021-09-14 17:20] #766 closed

[2021-09-14 17:23] ferhatelmas commented on #756
This isn't supported at the moment but we're working on it to support it. When there are updates, will drop a note here.

For now, closing this ticket.

[2021-09-14 17:23] #756 closed

[2021-09-15 06:47] mahboubii commented on #767
hey @ericlifs,

`client.connectUser` only resolves when the connection is successfully established, otherwise, it rejects. It could take few seconds for this function to resolve/reject since it retries a few times to establish the connection.

You can call `connectUser` after the first call is rejected, any subsequent calls while it still tries to connect will throw an error.

In order to achieve

[2021-09-20 23:44] racsmith277 opened #773 "window.removeEventListener is not a function"
We are developing stream chat on React Native and are getting an error every time the app goes to background mode:
![Simulator Screen Shot - iPhone 12 - 2021-09-17 at 15 33 08](https://user-images.githubusercontent.com/51767570/134090247-e262a0ad-449e-4e11-bc02-a8690dbd2c74.png)

I believe the source of the error lies in this library, not in the react native sdk. The useIsOnline hook in the RN lib

[2021-09-21 09:12] dariuscosden opened #776 "Search messages sort not affecting results"
Following the docs [here](https://getstream.io/chat/docs/react/search/), I would like to return the first message for a user in a channel. However, the sorting seems to have no effect on the results returned.

Here is the query I am calling
[code]

The above will always return the most recent message even though `created_at` is set to 1, which should order it by ascending. What's even more curious

[2021-09-22 20:34] Abacaxi-Nelson opened #784 "Have list of Users who mute current user ?"
### Please select which package this feature is related to

stream_chat_flutter

### Which platforms would this feature impact?

iOS

### Is your feature request related to a problem?

Hi,
Im trying to:
- Disable direct dm (if current user is muted from other) => Hide user from user search

i see in the ownUser model a list of users current user muted, but not the list of users who muted current u

[2021-09-23 08:17] rohankushwah123 commented on #665
I am still getting error on this

[2021-09-23 18:30] shodgetts commented on #665
Hi Rohan, your issue is not related to this. Can you please follow up on the tickets from support@getstream.io. GitHub issues are reserved for bug reports and feature requests/improvements. Your issue is not a bug, just implementation.

[2021-09-27 15:14] ANIBIT14 opened #778 "[Error: StreamChat error code 17: GetOrCreateChannel failed with error - Error on creating a new channel multi tenant config"
Getting this error on creating a channel in stream, the code is
    const newChannel = client.channel('messaging', {
                                          team: 'team_id',
                                           members,
                                           });
    await newChannel?.watch();

  The error is
  ERROR [Error: StreamChat error code 17: GetOrCreateChannel failed with error

[2021-09-29 11:55] #739 closed

[2021-09-29 11:57] luisgereda commented on #778
Hello and thanks for submitting an issue to our GitHub repository.  The Issue section of this Github repo is now reserved only for bug reports and feature improvements and suggestions. It looks like what you’re looking for is technical support using the product. For this support, we would suggest emailing our Customer Success and Engineer support team at support@getstream.io with your application

[2021-09-29 12:32] vishalnarkhede commented on #776
Hey @dariuscosden `sort` feature on message search is part of search version 2. To enable it for your application, please drop us an email for this request along with your appId support@getstream.io

[2021-09-29 12:32] #776 closed

[2021-09-29 12:35] vishalnarkhede commented on #530
Fyi, this has been fixed in latest versions.

[2021-09-29 12:35] #530 closed

[2021-09-29 12:39] #767 closed

[2021-09-29 12:43] #778 closed

[2021-09-29 12:57] vishalnarkhede commented on #738
Hey @heromiyo what version of typescript are you using? Also if you could share a codesandbox link reproducing the issue, that would be great.

Seems to be working fine here - https://codesandbox.io/s/nest-forked-vdvmt?file=/src/main.ts

[2021-09-29 13:02] vishalnarkhede commented on #773
Hey @racsmith277 this has been fixed and be part of next release.

[2021-09-29 13:02] #773 closed

[2021-09-29 13:14] yaziine commented on #749
Actually, we don't support unread count for channels with +100 members. This is not trivial to fix as it implies a lot of performance impact but we are working hard to fix this issue currently.

Closing the ticket for now, we will let you know once it's fixed.

[2021-09-29 13:14] #749 closed

[2021-09-30 08:13] vishalnarkhede commented on #738
Please upgrade to later versions of typescript which supports string templates, it should fix this issue for you.

[2021-09-30 08:13] #738 closed

[2021-10-04 07:04] deven98 commented on #784
Hi,

Just an update - we have added this feature in our internal backlog for future consideration. We will close this issue and add it as a reference to the ticket, so that we can update you once it is ready (we don’t have an ETA yet).

Once again, thanks for bringing this to our attention and please let us know if we can help with anything else in the future.

[2021-10-04 07:09] #784 closed

[2021-10-11 11:34] RomanBob123 opened #786 "Can I only filter a private channel?"
Can I only filter a private channel(Channel for a List of Members)?

Or for this I need to add some kind of custom field so that I can sort the list by it in the future?

gz#15739

[2021-10-11 12:13] vishalnarkhede commented on #786
Hey @RomanBob123 we don't have any specific filter for this purpose. But yes, you should use custom field for this purpose.

[2021-10-11 12:13] #786 closed

[2021-10-20 14:44] philippeauriach opened #796 "Using $in filter on custom data attributes in channels query"
Hi,

I have a GetStream chat app, with custom data on channels, with two of them being `reporter_id` and `reporter_name`.

I'm trying to query channels where `reporter_id` is one of several in an array, like so :
[code]

My end goal is to search for conversation by reporter_name, so my first idea was to search in my database the name, and then filter channels using `reporter_id: {$in: [...]}`, but

[2021-10-21 19:23] kyriacos opened #797 "Mark as unread?"
Any way we can mark a channel and/or message as unread?

Thanks!

[2021-11-26 09:08] halimsong opened #823 "own_reactions is missing on message.updated event"
### Describe the bug
own_reactions is missing on message.updated event

### Dev environment info
- stream-chat version: ^4.2.0

### To reproduce steps to reproduce the behavior
1. add reaction to a message
2. reply to the message
3. message.updated event is called
4. own_reactions is missing on the event(has an empty array)
but the event has latest_reactions

![image](https://user-images.githubuse

[2021-12-02 11:47] Motoxpro opened #830 "updateMessage doesn't stay updated"
Thanks for a great product!

I am using `"stream-chat": "4.4.3",`  on the server-side

I am using the following code to create a message:
[code]

This works great, I then use:

[code]

To update the message. It updates in the channel immediately, but when I refresh the page, the `mml` is back to the original `offerMML`.

Am I doing something wrong here?

[2021-12-02 12:09] Motoxpro commented on #830
This seems to work. Using a `partialUpdate` here which I think is unrelated.

Just have to "delete" the mml and then re-update it.

[code]

[2021-12-02 18:19] AlexRypun opened #834 "Typescript errors in Node.js"
I was using `stream-chat` `v1.10.2` on the server-side. It worked fine.
Now I want to upgrade to the latest version (5.0.0) which already uses typescript. But typescript compiler fails with errors:
`Cannot find name 'File'`, `Cannot find name 'Event'`, `Cannot find name 'AbortSignal'`. This is right because the library uses browser's objects that don't exist in Node.js environment.
![image](https:

[2021-12-03 16:08] mahboubii commented on #834
You can fix this by either adding `DOM` lib to your typescript config or enabling `skipLibCheck`:
[code]

[2021-12-03 16:22] AlexRypun commented on #834
Thanks, I've already added `"skipLibCheck": true` and it works. But is it nice solution?

[2021-12-03 20:57] mahboubii commented on #834
It is quite standard, you don't necessarily need the compiler to check all the types of libraries you use, it would increase your build time drastically.

[2021-12-03 20:57] #834 closed

[2021-12-07 05:26] amol-kamble commented on #706
Is there any better solution to resolve this issue? It's failing for me while building with `yarn`. Updating  `typescript` is not a viable option at the moment, and the current version is `3.9.7` (which is not that old). Upgrading typescript to the latest causes other issues which will take some to fix.

[2021-12-13 20:03] bityardigans opened #841 "Typescript error w TS 3.9.10 and latest package - cannot build"
Getting 29+ type errors in types.d.ts, same error over and over:
node_modules/stream-chat/dist/types/types.d.ts:339:16 - error TS1109: Expression expected.

tried going back to 4.4.3 and same issue. any workaround/fix?

[2021-12-13 21:05] ferhatelmas commented on #841
You might see this issue: https://github.com/GetStream/stream-chat-js/issues/834

cc @mahboubii

[2021-12-13 21:20] mahboubii commented on #841
@bityardigans what is the version of `typescript` you're using? we have some errors on the recent versions that we have not resolved yet.
Ideally, you should activate [skipLibCheck](https://www.typescriptlang.org/tsconfig#skipLibCheck) in your tsconfig file so your compiler skips verifying internal types of the dependencies.